
$mainFont:'Creato Display';
$secondaryFont:'Lora';
$fontSizeLinks:16px;
$fontWeightLinks:600;
$mainColor:#f86645;
$secondaryColor:#375D95;
.navbar{
    z-index: 20000;
}

.dropdown-menu{
    background-color: #272d35;
}
.other-header{
  .container{
    .collapse.navbar-collapse{
      ul{
        .dropdown a.dropdown-item{
          color: #fff;
          &:hover{
            color: #f86341;
          }
        }
        li{
          
          a{
            color: #2A2B34;
            &:hover{
              color: #f86341;
            }
          }
        }
      }
      .btns-holder{
        a{
          color: #f86341;
          transition: .3s;
          border: solid #f86341;
          &:hover{
            color: #fff;
          }
        }
        .contact-button{
          border-color: #000000;
          background-color: #ffffff00;
          color: #000;
          &:hover{
            color: #fff;
            background-color: #000;
          }
        }
        .free-trial{
          color: #fff!important;
          border-color: #375D95;
          &:hover{
            border: solid #f86341;
          }
        }
      }
    }
  }
}

.nav-item a{
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    font-family: $mainFont;
    border-bottom: #00000000 solid 2px;
}
.nav-item a:hover{
    border-bottom: solid 2px #f86341;
}
.dropdown a:hover{
  border-bottom: solid 2px #f8634100;
}
.dropdown{
  ul {
    min-width: 450px;
    padding: 24px;
    li{
      background-color: #1e1e1e00;
      i{
        color: #fff;
        transition: .3s ease-in-out;
      }
      &:hover i{
        color: #f86341;
      }
    }
  }
}
.dropdown-toggle::after{
  display: none;
}
.dropdown.show{
  li a:hover{
    background-color: #00000000;
  }
}
.dropdown{
  a{
    color: #fff;
    padding-left: 0 ;
    transition: .3s ease-in-out;
    &:hover{
      color: #f86341;
    }
  }
}


.header-cta{
    border: solid 2px $secondaryColor;
    background-color:$secondaryColor;
    border-radius: 50px;
    padding: 15px 20px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    transition: .5s;
    color: #fff;
    font-family: $mainFont;
    img{
      padding-left: 8px;
    }
}
.header-cta:hover{
    color: #fff;
    border: solid 2px $mainColor;
    background-color:$mainColor;
}
.header-cta.contact-button{
  border-color: #fff;
  background-color: #00000000;
  &:hover{
    background-color: #fff;
    color: #000;
  }
}

.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: transparent;
    transition: background-color 0.4s ease, box-shadow 0.4s ease;
    padding: 20px 0;
  
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
    .nav-links {
      display: flex;
      list-style: none;
  
      li {
        margin: 0 15px;
  
        a {
          text-decoration: none;
          color: black; // Set text color for links
          font-weight: bold;
          transition: color 0.3s ease;
          
          &:hover {
            color: #f86341; 
            
          }
         
        }
      }
    }
  }
  
  .navbar.scrolled {
    background-color: #ffffff; // White background
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); // Add bottom shadow
    padding: 10px 0; // Optional: Reduce padding when scrolled
    a{
        color: #383838;
    }
  
.dropdown-menu li{
 color: #fff;
 a{
  color: #fff;
 }
 &:hover{
  color: #f86341;
}
&:hover a{
   color: #f86341;
 }
}

.header-cta{
  color: #fff!important;
}
.header-cta.contact-button{
border-color: #f86341;
color: #000!important;
&:hover{
  color: #fff!important;
}
}

.header-cta:hover{
  background-color:$mainColor;
  color: #fff;
 
}
  }
  

// start responsive 
@media (max-width: 1024px) {
.btns-holder{
  width: 32%;
}

}


@media (max-width: 768px) {

nav.navbar{
  background-color: #fff;
}
.nav-item a{
  color: #000;
}
.header-cta{
  color: #f86341;
}

.navbar-collapse{
 .btns-holder{
  width: 100%;
  justify-content: space-between!important;
 }
}


}

@media (max-width: 576px) {


    .left-logo{
      width: 50%!important;
    }

    .navbar-collapse{
      .justify-content-sm-between{
        width: 100%;
        justify-content: space-between!important;
      }
    }
    .dropdown-item{
      color: #fff!important;
      &:hover{
        background-color: #f86341;
        
      }
    }

}