<footer class="py-5">

    <div class="container">
        <div class="row justify-content-between">

            <div class="col-md-4 col-sm-12 left-footer">
                <div class="logo" routerLink="">
                    <img src="public/logo-Ufeed.png" class="img-fluid py-3" alt="">
                </div>
                <p>{{"footer.about_prefix" |translate}}
                    <app-partner-reference text="JOBMASTER" />
                    {{"footer.about_suffix" |translate}}
                </p>

            </div>

            <div class="col-md-2 py-4 quick-links">
                <div class="title-footer-col ">
                    <h6>{{"footer.quick_links.title" | translate}}</h6>
                </div>
                <div class="list-footer list">
                    <ul>
                        <li> <a href="" routerLink="">{{"footer.quick_links.home" | translate}} <i
                                    class="fa-solid fa-arrow-right-long"></i></a> </li>
                        <li> <a href="" routerLink="/about">{{"footer.quick_links.about"|translate}}<i
                                    class="fa-solid fa-arrow-right-long"></i></a> </li>
                        <li> <a href="" routerLink="/contact-us">{{"footer.quick_links.contact_us" | translate}} <i
                                    class="fa-solid fa-arrow-right-long"></i></a></li>
                        <li> <a href="" routerLink="/news">{{"footer.quick_links.news"| translate}} <i
                                    class="fa-solid fa-arrow-right-long"></i></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3 py-4 our-products">
                <div class="title-footer-col">
                    <h6>{{"footer.products.title"| translate}}</h6>
                </div>
                <div class="list-footer list">
                    <ul>
                        <li class="my-3">
                            <a href="" routerLink="/jet">
                                {{"footer.products.jet"|translate}}
                                <i class="fa-solid fa-arrow-right-long"></i>
                            </a>
                        </li>
                        <li class="my-3">
                            <a href="" routerLink="/ees">
                                {{"footer.products.ees"|translate}}
                                <i class="fa-solid fa-arrow-right-long"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3 py-4 contact-links">
                <div class="title-footer-col">
                    <h6>{{"footer.contact.title" | translate}}</h6>
                </div>
                <div class="list-footer cotanct-list">
                    <ul class="">
                        <li><a class="tel" href="tel:+20225170641">

                                <i class="fa-solid fa-phone"></i>
                                <span class="px-2">{{'footer.contact.phone_number' | translate}}</span>
                            </a></li>
                        <li><a href="mailto:info@ufeed.com">
                                <i class="fa-solid fa-envelope"></i>
                                <span class="px-2">info&#64;ufeed-ai.com</span>
                            </a>
                        </li>
                        <li><a class="d-flex" href="https://maps.app.goo.gl/t7iHhE3H8eRTVaqX7" target="_blank">
                                <i class="fa-solid fa-location-dot"></i>
                                <div class="px-2">{{"footer.contact.address" | translate}}</div>
                            </a>
                        </li>

                    </ul>
                    <div class="social-icons d-flex w-100">
                        <a href="https://www.facebook.com/UFeedAI/" target="_blank" rel="noopener noreferrer"> <i
                                class="fa-brands fa-facebook-f"></i></a>
                        <a href="https://www.linkedin.com/company/ufeed-ai/posts/?feedView=all" target="_blank"
                            rel="noopener noreferrer"> <i class="fa-brands fa-linkedin-in"></i></a>
                        <a href="https://www.instagram.com/ufeed_ai/" target="_blank" rel="noopener noreferrer"> <i
                                class="fa-brands fa-instagram"></i></a>
                    </div>

                </div>
            </div>

            <!-- separator -->
            <div class="separator py-4">
                <hr class="bg-dark">
            </div>

        </div>

        <!-- ------------ -->

        <div class="row justify-content-between end-footer px-4">
            <ul class="d-flex justify-content-between">
                <li><a href="#">{{"footer.copyright" | translate}}</a></li>


                <li><a href="https://www.thepost.digital/" target="_blank"> &#64;The POST</a> </li>
            </ul>
        </div>

    </div>

</footer>