<footer class="py-5">

<div class="container">
<div class="row justify-content-between">

<div class="col-md-4 left-footer">
    <div class="logo" routerLink="">
        <img src="public/logo-Ufeed.png"  class="img-fluid py-3" alt="">
    </div>
    <p>UFeed has 25 years of experience in Human Capital, providing innovative Arabic solutions. Join us in transforming the HC
         Domain in the Middle East with our advanced products.</p>

    <div class="social-icons d-flex justify-content-between w-25">
        <a href="#" target="_blank" rel="noopener noreferrer"> <i class="fa-brands fa-facebook-f"></i></a>
        <a href="#" target="_blank" rel="noopener noreferrer"> <i class="fa-brands fa-linkedin-in"></i></a>
        <a href="#" target="_blank" rel="noopener noreferrer"> <i class="fa-brands fa-instagram"></i></a>
    </div>

    </div>

<div class="col-md-2 py-4 ">
    <div class="title-footer-col ">
        <h6>Quick Links</h6>
    </div>
    <div class="list-footer">
        <ul>
            <li> <a href="" routerLink="">Home</a></li>
            <li> <a href="" routerLink="/about">About Us</a> </li>
            <li> <a href=""  routerLink="/contact-us">Contact Us</a> </li>
            <li> <a href="" routerLink="/news">News </a> </li>
        </ul>
    </div>
</div>

<div class="col-md-2 py-4 ">
    <div class="title-footer-col">
        <h6>Our Solutions</h6>
    </div>
    <div class="list-footer">
        <ul>
            <li class="my-3">
                <a href="" routerLink="/hc-digitized-methodologies-tools">
                    Human Capital Digitalized 
                    Methodologies & Tools
                </a>
            </li>
            <li class="my-3">
                <a href="" routerLink="/hc-data-analytics-benchmarking">
                    HC Data Analytics & Benchmarking</a>
            </li>
        </ul>
    </div>
</div>

<div class="col-md-2 py-4 ">
    <div class="title-footer-col">
        <h6>Contact Us</h6>
    </div>
    <div class="list-footer">
        <ul class="">
            <li><a href="tel:+201212087225">
                <i class="fa-solid fa-phone"></i>
                <span class="px-2">01212087225</span>
            </a></li>
            <li><a href="mailto:info@ufeed.com">
                <i class="fa-solid fa-envelope"></i>
                <span class="px-2">info&#64;ufeed-ai.com</span>
            </a>
            </li>
            <li><a href="https://maps.app.goo.gl/t7iHhE3H8eRTVaqX7" 
                target="_blank">
                <i class="fa-solid fa-location-dot"></i>
                <span class="px-2">14 c, Ahmed Kamel St. 
                    Off El- Laselki St. New Maadi, Cairo</span>
            </a>
            </li>
        </ul>
    </div>
</div>

<!-- separator -->
 <div class="separator py-4">
    <hr class="bg-dark">
 </div>

</div>

<!-- ------------ -->

<div class="row justify-content-between end-footer px-4">
<ul class="d-flex justify-content-between">
    <li><a href="#">Copyright © [2024] Ufeed Human Capital</a></li>
    <li><a href="https://pulslytics.co/" target="_blank"> &#64;pulslytics.co</a> </li>
</ul>
</div>

</div>

</footer>