.social-icons {
    a {
        border-radius: 16px;
        border: 1px solid #949494;
        padding: 8px 12px;
        margin: 0 12px 0 0px;
        color: #000;
        transition: .3s;

        i {
            color: #375D95;

            &:hover {
                color: #f86645;
            }
        }

    }


}

.left-footer {
    padding: 20px;

    p {
        font-size: 12px;
    }
}

.title-footer-col {
    h6 {
        color: #375D95;
        font-size: 20px;
        font-weight: 700;
    }
}

a.tel {
    text-wrap: nowrap;
}
.our-products ul li a{
    white-space: nowrap;
}
.list-footer {
    ul {
        padding: 0;

        li {
            list-style: none;
            margin-bottom: 12px;
            margin-top: 12px;
            display: flex;
            align-items: center;

            a {
                text-decoration: none;
                // white-space: nowrap;
                color: #757575;
                font-size: 16px;
                transition: .3s ease-in-out;

                i {
                    margin-left: 10px;
                    padding-top: 9px;
                    font-size: 10px;
                    transition: .3s ease-in-out;
                    color: #f86645;
                }

                span {
                    color: #000;
                }
            }

        }
    }
}

.cotanct-list {
    ul {
        li {
            a {
                i {
                    font-size: 16px;
                }

                span {
                    color: #757575 !important;

                }
            }
        }
    }
}

.end-footer {
    ul {
        padding: 0;

        li {
            list-style: none;

            a {
                text-decoration: none;
                cursor: pointer;
                color: #757575 !important;
            }
        }
    }
}

.list-footer.list {
    ul {
        li {
            a {
                font-family: "Creato Display";

                i {
                    opacity: 0;
                    transition: opacity 0.3s;
                }

                &:hover i {
                    opacity: 1;
                }

                &:hover {
                    color: #f86645;
                }
            }
        }
    }
}

.quick-links {
    padding-left: 60px;
}

@media (max-width:768px) {
    footer {
        .container {
            .row {
                display: flex;
                justify-content: space-between;

                .col-md-4,
                .col-md-2 {
                    width: 45%;
                    margin-bottom: 20px;
                }
            }
        }
    }

    .quick-links {
        padding-left: 0;
    }
}

@media (max-width:426px) {
    footer {
        .container {
            .row {
                display: flex;
                justify-content: space-between;

                .col-md-4,
                .col-md-2 {
                    width: 90%;
                    margin-bottom: 20px;
                }
            }
        }
    }

    .quick-links {
        padding-left: 0;
    }
}