<footer class="py-5">

<div class="container">
<div class="row justify-content-between">

<div class="col-md-4 left-footer">
    <div class="logo" routerLink="">
        <img src="public/logo-Ufeed.png"  class="img-fluid py-3" alt="">
    </div>
    <p>{{"footer-desc" |translate}}</p>


    </div>

<div class="col-md-2 py-4 quick-links">
    <div class="title-footer-col ">
        <h6>{{"Quick Links" | translate}}</h6>
    </div>
    <div class="list-footer list">
        <ul>
            <li> <a href="" routerLink="">{{"home" | translate}} <i class="fa-solid fa-arrow-right-long"></i></a> </li>
            <li> <a href="" routerLink="/about">{{"about"|translate}}<i class="fa-solid fa-arrow-right-long"></i></a> </li>
            <li> <a href=""  routerLink="/contact-us">{{"Contact_Us" | translate}} <i class="fa-solid fa-arrow-right-long"></i></a></li>
            <li> <a href="" routerLink="/news">{{"News"| translate}} <i class="fa-solid fa-arrow-right-long"></i></a></li>
        </ul>
    </div>
</div>

<div class="col-md-3 py-4 our-products">
    <div class="title-footer-col">
        <h6>{{"Our Products"| translate}}</h6>
    </div>
    <div class="list-footer list">
        <ul>
            <li class="my-3">
                <a href="" routerLink="/jet">
                    {{"Job Evaluation Tool - JET"|translate}}
                    <i class="fa-solid fa-arrow-right-long"></i>
                </a>
            </li>
            <li class="my-3">
                <a href="" routerLink="/ees">
                    {{"Employee Engagement Survey - EES"|translate}}
                    <i class="fa-solid fa-arrow-right-long"></i>
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="col-md-3 py-4 contact-links">
    <div class="title-footer-col">
        <h6>{{"Contact Us" | translate}}</h6>
    </div>
    <div class="list-footer cotanct-list">
        <ul class="">
            <li><a class="tel" href="tel:">
                <i class="fa-solid fa-phone"></i>
                <span class="px-2">{{'phone_number' | translate}}</span>
            </a></li>
            <li><a href="mailto:info@ufeed.com">
                <i class="fa-solid fa-envelope"></i>
                <span class="px-2">info&#64;ufeed-ai.com</span>
            </a>
            </li>
            <li><a class="d-flex" href="https://maps.app.goo.gl/t7iHhE3H8eRTVaqX7" 
                target="_blank">
                <i class="fa-solid fa-location-dot"></i>
                <div class="px-2">{{"address" | translate}}</div>
            </a>
            </li>
            
        </ul>
        <div class="social-icons d-flex w-100">
            <a href="https://www.facebook.com/UFeedAI/" target="_blank" rel="noopener noreferrer"> <i class="fa-brands fa-facebook-f"></i></a>
            <a href="https://www.linkedin.com/company/ufeed-ai/posts/?feedView=all" target="_blank" rel="noopener noreferrer"> <i class="fa-brands fa-linkedin-in"></i></a>
            <a href="https://www.instagram.com/ufeed_ai/" target="_blank" rel="noopener noreferrer"> <i class="fa-brands fa-instagram"></i></a>
        </div>
      
    </div>
</div>

<!-- separator -->
 <div class="separator py-4">
    <hr class="bg-dark">
 </div>

</div>

<!-- ------------ -->

<div class="row justify-content-between end-footer px-4">
<ul class="d-flex justify-content-between">
    <li><a href="#">{{"Copyright" | translate}}</a></li>
   
    <li><a href="https://pulslytics.co/" target="_blank"> &#64;pulslytics.co</a> </li>
</ul>
</div>

</div>

</footer>