<!-- Human Capital Optimization section  -->

<section class="workflow ">
  <h2 class="w-50 m-auto text-center mb-5">
    {{"workperf.title_prefix" | translate}} <span>{{"workperf.title_main"|translate}}</span>
  </h2>


  <div class="container py-5">

    <div class="row">



      <!--------------->
      <div class="col-md-7 p-2">
        <div class="single-workflow workflow-2" style="background-image:url('public/workflow/69.png') ;">
          <div class="overflow p-4">

            <p class="num workflow-num">
              {{"workperf.item1.number" | translate}}.
            </p>
            <div class="title">
              <h3> {{"workperf.item1.title" | translate}} </h3>
            </div>
            <div class="desc">
              <p>
                {{"workperf.item1.desc"|translate}}
              </p>
            </div>

          </div>
        </div>
      </div>
      <!-- ------------- -->
      <div class="col-md-5 p-2">
        <div class="single-workflow workflow-3" style="background-image:url('public/workflow/72.png') ;">
          <div class="overflow p-4">

            <p class="num workflow-num">
              {{"workperf.item2.number" | translate}}.
            </p>
            <div class="title">
              <h3> {{"workperf.item2.title" | translate}} </h3>
            </div>
            <div class="desc">
              <p>
                {{"workperf.item2.desc" | translate}}
              </p>
            </div>

          </div>
        </div>
      </div>

      <!--------------->
      <div class="col-md-5 p-2">
        <div class="single-workflow workflow-4" style="background-image:url('public/workflow/04.png') ;">
          <div class="overflow p-4">

            <p class="num workflow-num">
              {{"workperf.item3.number" | translate}}.
            </p>
            <div class="title">
              <h3> {{"workperf.item3.title" | translate}} </h3>
            </div>
            <div class="desc">
              <p>
                {{"workperf.item3.desc" | translate}}
              </p>
            </div>

          </div>
        </div>
      </div>
      <!-- ------------- -->



      <!--------------->
      <div class="col-md-7 p-2">
        <div class="single-workflow workflow-5" style="background-image:url('public/workflow/01.png') ;">
          <div class="overflow p-4">

            <p class="num workflow-num">
              {{"workperf.item4.number" | translate}}.
            </p>
            <div class="title">
              <h3>{{"workperf.item4.title" | translate}} </h3>
            </div>
            <div class="desc">
              <p>
                {{"workperf.item4.desc"|translate}}
              </p>
            </div>

          </div>
        </div>
      </div>
      <!-- ------------- -->


    </div>

  </div>


</section>

<!-- end workflow performance section -->