<!-- Human Capital Optimization section  -->

<section class="workflow ">
    <h2 class="w-50 m-auto text-center mb-5">
      Struggling with <span>Human Capital Optimization?</span>
    </h2>

   
    <div class="container py-5">
      
    <div class="row">
     
      <!--------------->
      <div class="col-md-6 p-2">
      <div class="single-workflow workflow-1" 
      style="background-image:url('public/workflow/05.png') ;">
        <div class="overflow p-4">

  <p class="num workflow-num">
    01.
  </p>
  <div class="title">
    <h3> Talent Planning and Alignment </h3>
  </div>
  <div class="desc">
    <p>
      Organizations often struggle with HC management challenges like recruitment,
      onboarding, development gaps, and performance issues.
    </p>
  </div>
  
</div>
     </div>
    </div>
      <!-- ------------- -->
       

         <!--------------->
         <div class="col-md-6 p-2">
          <div class="single-workflow workflow-2"
          style="background-image:url('public/workflow/02.png') ;">
            <div class="overflow p-4">
    
      <p class="num workflow-num">
        02.
      </p>
      <div class="title">
        <h3> Lack of Data-Driven Insights </h3>
      </div>
      <div class="desc">
        <p>
          Making informed decisions is challenging without access to accurate and actionable data,
           leading to inefficiencies and missed opportunities.
        </p>
      </div>
      
    </div>
         </div>
        </div>
          <!-- ------------- -->


           <!--------------->
         <div class="col-md-5 p-2">
          <div class="single-workflow workflow-3"
          style="background-image:url('public/workflow/04.png') ;">
            <div class="overflow p-4">
    
      <p class="num workflow-num">
        03.
      </p>
      <div class="title">
        <h3> Low Employee Engagement </h3>
      </div>
      <div class="desc">
        <p>
          Keeping employees motivated and satisfied is crucial for productivity,
           yet many organizations struggle to effectively engage their workforce.
        </p>
      </div>
      
    </div>
         </div>
        </div>
          <!-- ------------- -->



             <!--------------->
         <div class="col-md-7 p-2">
          <div class="single-workflow workflow-4"
          style="background-image:url('public/workflow/01.png') ;">
            <div class="overflow p-4">
    
      <p class="num workflow-num">
        04.
      </p>
      <div class="title">
        <h3> Ineffective Job Role Evaluations </h3>
      </div>
      <div class="desc">
        <p>
          Fair and clear job evaluations are essential for 
          aligning roles with business goals and maintaining competitive pay to attract, retain and ensure employee satisfaction
        </p>
      </div>
      
    </div>
         </div>
        </div>
          <!-- ------------- -->
           


                <!--------------->
         <div class="col-md-12 p-2">
          <div class="single-workflow workflow-5"
          style="background-image:url('public/workflow/03.png') ;">
            <div class="overflow p-4">
    
      <p class="num workflow-num">
        05.
      </p>
      <div class="title">
        <h3> Need for Customized Solutions </h3>
      </div>
      <div class="desc">
        <p>
          Every organization has unique challenges and requirements,
           making it essential to have tailored application that fits and address specific business needs effectively yet relying on well-defined standardized approach
        </p>
      </div>
      
    </div>
         </div>
        </div>
          <!-- ------------- -->
           

    </div>

    </div>


  </section>
  
  <!-- end workflow performance section -->
  