<section class="title d-flex ">
    <div class="container">
        <div class="row">
    <h1>
        Contact <span>Ufeed</span>
    </h1>
    
    </div>
    </div>

</section>

  
<section class="contacts my-5">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-md-3">
                <a href="tel:+201212087225">
                    <i class="fa-solid fa-phone"></i>
                    <span class="px-2">01212087225</span>
                </a>
            </div>
            <div class="col-md-3">
                <a href="mailto:info@ufeed.com">
                    <i class="fa-solid fa-envelope"></i>
                    <span class="px-2">info&#64;ufeed-ai.com</span>
                </a>
            </div>
            <div class="col-md-3">
                <a href="https://maps.app.goo.gl/t7iHhE3H8eRTVaqX7" target="_blank">
                    <i class="fa-solid fa-location-dot"></i>
                    <span class="px-2">14 c, Ahmed Kamel St. 
                        Off El- Laselki St. New Maadi, Cairo</span>
                </a>
            </div>
        </div>
    </div>

</section>

<app-contact-section></app-contact-section>