<section class="title d-flex ">
    <div class="container">
        <div class="row">
    <h1>
        {{"Contact"| translate}} <span class="px-3">UFeed</span>
    </h1>
    <p>
      {{"contact_page_desc" | translate}}
    </p>
    </div>

   
    </div>

</section>

  
<section class="contacts my-5">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-md-3">
                <a href="tel:+20225170641">
                    <i class="fa-solid fa-phone"></i>
                    <span class="px-2">+20225170641</span>
                </a>
            </div>
            <div class="col-md-3">
                <a href="mailto:info@ufeed.com">
                    <i class="fa-solid fa-envelope"></i>
                    <span class="px-2">info&#64;ufeed-ai.com</span>
                </a>
            </div>
            <div class="col-md-3">
                <a href="https://maps.app.goo.gl/t7iHhE3H8eRTVaqX7" target="_blank">
                    <i class="fa-solid fa-location-dot"></i>
                    <span class="px-2">{{"address"|translate}}</span>
                </a>
            </div>
        </div>
    </div>

</section>

<app-contact-section></app-contact-section>