<section class="title d-flex ">
    <div class="container">
        <div class="row">
            <h1>
                <span class="px-3"> JET </span>- {{"Job Evaluation Tool"|translate}}
            </h1>

            <p class="py-4">
                {{"jet_page_desc"|translate}}
            </p>

        </div>
    </div>
</section>

<!-- start section journy of success  -->

<section class="journey ">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center">{{"Introducing"|translate}} <br><span>{{"Job Evaluation Tool"|translate}}
                    </span></h2>
            </div>

            <div class="row w-75 m-auto my-5 justify-content-around">
                <div class="col-md-5 my-4">
                    <div class="jet-feature">
                        <img class="img-fluid" src="public/jet/feature01.png" alt="">
                        <h4 class="py-3">{{"Structured and Objective Job Evaluation" |translate}}</h4>
                        <p>
                            {{"Allows evaluators to assess job significance in a structured, objective, and consistent
                            manner and it ensures internal equity"|translate}}
                        </p>
                    </div>
                </div>
                <!-- --------- -->

                <div class="col-md-5 my-4">
                    <div class="jet-feature">
                        <img class="img-fluid" src="public/jet/feature02.png" alt="">
                        <h4 class="py-3">{{"Enhanced Organizational Growth"|translate}}</h4>
                        <p>
                            {{"Crucial for organizational growth, influencing the essential compensation framework for
                            both the company and its employees."|translate}}
                        </p>
                    </div>
                </div>

                <!-- ------------ -->

                <div class="col-md-5 my-4">
                    <div class="jet-feature">
                        <img class="img-fluid" src="public/jet/feature03.png" alt="">
                        <h4 class="py-3">{{"Expertise in Reward Management"|translate}}</h4>
                        <p>
                            {{"Utilizes JOBMASTER methodology,harnessing vast knowledge and proficiency in reward
                            management"|translate}}
                        </p>
                    </div>
                </div>


                <!-- ------------ -->

                <div class="col-md-5 my-4">
                    <div class="jet-feature">
                        <img class="img-fluid" src="public/jet/feature04.png" alt="">
                        <h4 class="py-3">{{"Improved Evaluation and Grading Processes"|translate}}</h4>
                        <p>
                            {{"The JET transforms grading by simplifying assessments and ensuring fairness, leading to
                            better outcomes."|translate}}
                        </p>
                    </div>
                </div>


            </div>



        </div>
    </div>
</section>
<!--end section journy of success  -->


<!-- ------------- -->
<section class="advantages mb-5">
    <div class="container">
        <div class="row w-100 m-auto">
            <div class="col-md-12">
                <h2 class="text-center">{{"The Unmatched Advantages"|translate}}<br> {{"of"|translate}}<span> JET
                    </span> {{"by"|translate}} UFeed</h2>
            </div>

            <div class="row justify-content-around">
                <div class="col-md-6 col-sm-12">
                    <div class="single-advantage ">
                        <div class="img-holder col-3">
                            <img class="img-fluid" src="public/jet/03.png" alt="">
                        </div>
                        <h3>{{"Bilingual Interface"|translate}}</h3>
                        <p>{{"Bilingual Interface desc"|translate}}</p>
                    </div>
                </div>
                <!-- ------------ -->

                <div class="col-md-6 col-sm-12">
                    <div class="single-advantage ">
                        <div class="img-holder col-3">
                            <img class="img-fluid" src="public/jet/12.png" alt="">
                        </div>
                        <h3>{{"Automated JA Data Gathering"|translate}}</h3>
                        <p>{{"Automated JA Data Gathering desc"|translate}}</p>
                    </div>
                </div>

                <!-- ------------ -->
                <div class="col-md-3 col-sm-12">
                    <div class="single-advantage mid-advantage">
                        <div class="img-holder col-3">
                            <img class="img-fluid" src="public/jet/13.png" alt="">
                        </div>
                        <h3>{{"Customizable Access Features"|translate}}</h3>
                        <p>{{"Customizable Access Features desc"|translate}}</p>
                    </div>
                </div>

                <!-- ------------ -->
                <div class="col-md-5 col-sm-12">
                    <div class="single-advantage mid-advantage">
                        <div class="img-holder col-3">
                            <img class="img-fluid" src="public/jet/14.png" alt="">
                        </div>
                        <h3>{{"Consistent Evaluation Process"|translate}}</h3>
                        <p>{{"Consistent Evaluation Process desc"|translate}}
                        </p>
                    </div>
                </div>

                <!-- ------------ -->
                <div class="col-lg-4 col-sm-12">
                    <div class="single-advantage mid-advantage">
                        <div class="img-holder col-3">
                            <img class="img-fluid" src="public/jet/08.png" alt="">
                        </div>
                        <h3>{{"Alert Notifications"|translate}}</h3>
                        <p>{{"Alert Notifications desc" |translate}}</p>
                    </div>
                </div>

                <!-- ------------ -->
                <div class="col-md-5 col-sm-12">
                    <div class="single-advantage mid-advantage">
                        <div class="img-holder col-3">
                            <img class="img-fluid" src="public/jet/09.png" alt="">
                        </div>
                        <h3>{{"Comparative Position Analysis" |translate}}</h3>
                        <p>{{"Comparative Position Analysis desc"|translate}}</p>
                    </div>
                </div>

                <!-- ------------ -->
                <div class="col-md-3 col-sm-12">
                    <div class="single-advantage mid-advantage">
                        <div class="img-holder col-3">
                            <img class="img-fluid" src="public/jet/16.png" alt="">
                        </div>
                        <h3>{{"International Grading Correlation" | translate}}</h3>
                        <p>{{"International Grading Correlation desc"|translate}}</p>
                    </div>
                </div>

                <!-- ------------ -->
                <div class="col-lg-4 col-sm-12">
                    <div class="single-advantage mid-advantage">
                        <div class="img-holder col-3">
                            <img class="img-fluid" src="public/jet/15.png" alt="">
                        </div>
                        <h3>{{"Real-Time Reporting with Salaries Bands" | translate}}</h3>
                        <p>{{"Real-Time Reporting with Salaries Bands desc" |translate}}</p>
                    </div>
                </div>

                <!-- ------------ -->
                <div class="col-md-12 col-sm-12">
                    <div class="single-advantage last-advantage">
                        <div class="img-holder col-3">
                            <img class="img-fluid" src="public/jet/17.png" alt="">
                        </div>
                        <h3>{{"Intelligent Job Evaluation"|translate}}</h3>
                        <p>{{"Intelligent Job Evaluation desc"|translate}}</p>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>



<!-- ------------- -->



<section class="product-form">
    <div class="container">
        <div class="row">
            <div class="col-md-6 title-holder px-3">
                <h2 class="text-left">{{"Unlock the power of the" |translate}} <span>{{"tool"|translate}}</span>
                    {{"and boost your productivity!" |translate}}</h2>
            </div>
            <div class="col-md-6 form-holder">

                <form action="" method="post" class="px-3" [formGroup]="jetForm" (ngSubmit)="getFormData(jetForm)">

                    <div class="form-group col-12 my-3">
                        <label for="">{{"YOUR_NAME"|translate}}</label>
                        <input placeholder='{{"YOUR_NAME"|translate}}' formControlName="username"
                            [class.is-valid]="jetForm.get('username')?.errors == null && jetForm.get('username')?.touched"
                            class="form-control p-3" id="">
                        <p *ngIf="jetForm.get('username')?.errors != null && jetForm.get('username')?.touched"
                            class="py-2 text-danger">{{"CHECK_YOUR_NAME"|translate}}</p>
                    </div>

                    <div class="form-group col-12 my-3">
                        <label for="">{{"Contact Number*" |translate}}</label>
                        <input placeholder='{{"Your Phone Number"|translate}}' [class.is-valid]="jetForm.get('contactNumber')?.errors==null &&
                 jetForm.get('contactNumber')?.touched" formControlName="contactNumber" class="form-control p-3" id="">

                        <p *ngIf="jetForm.get('contactNumber')?.errors!=null &&
                jetForm.get('contactNumber')?.touched" class="py-2 text-danger">{{"Please Check Your Phone
                            Number"|translate}}</p>
                    </div>

                    <div class="form-group col-12 my-3">
                        <label for="">{{"Email*"|translate}}</label>
                        <input placeholder='{{"Email_placeholder" | translate}}' [class.is-valid]="jetForm.get('email')?.errors==null &&
                 jetForm.get('email')?.touched " formControlName="email" class="form-control p-3" id="">
                        <p *ngIf="jetForm.get('email')?.errors!=null && jetForm.get('email')?.touched "
                            class="py-2 text-danger">{{"Please Check Your Email"|translate}}</p>
                    </div>

                    <div class="form-group col-12 my-3">
                        <label for="">{{'Company Name'|translate}}</label>
                        <input placeholder='{{"Your Company"|translate}}' formControlName="companyName"
                            [class.is-valid]="jetForm.get('companyName')?.errors == null &&
                jetForm.get('companyName')?.touched" formControlName="companyName" class="form-control p-3" id="">
                        <p *ngIf="jetForm.get('companyName')?.errors!=null && jetForm.get('companyName')?.touched "
                            class="py-2 text-danger">{{"Please Fill Your Company Name" |translate}}</p>
                    </div>
                    <div class="form-group col-12 my-3">
                        <label for="">{{'TITLE'|translate}}</label>
                        <input placeholder='{{"TITLE"|translate}}' formControlName="title" [class.is-valid]="jetForm.get('title')?.errors == null &&
                jetForm.get('title')?.touched" formControlName="title" class="form-control p-3" id="">
                        <p *ngIf="jetForm.get('title')?.errors!=null && jetForm.get('title')?.touched "
                            class="py-2 text-danger">{{"Please Check Your Title" |translate}}</p>
                    </div>
                    <label for="">{{"Products" | translate}}</label>
                    <select class="form-select py-3" aria-label="Default select example">
                        <option class="disabled-option" value="" disabled selected>{{"choose product" | translate}}</option>
                        <option value="1">Job Evaluation Tool – JET</option>
                        <option value="2">Employee Engagement Survey - EES</option>
                        <!-- <option value="both">both</option> -->
                    </select>
                    <button type="submit" [disabled]="jetForm.invalid == true"
                        class=" my-3 p-3 btn col-12 btn-success">{{"Submit"|translate}}</button>

                </form>

            </div>
        </div>
    </div>
</section>