<section class="title d-flex ">
    <div class="container">
        <div class="row">
            <h1>
                <span class="px-3"> {{"jet.title_short" | translate}} </span>- {{"jet.title_full"|translate}}
            </h1>

            <p class="py-4">
                {{"jet.page.description_prefix"|translate}}
                <app-partner-reference />
                {{"jet.page.description_suffix" | translate}}
            </p>

        </div>
    </div>
</section>

<!-- start section journy of success  -->

<section class="journey ">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center">{{"jet.section.introducing"|translate}} <br><span>{{"jet.title_full"|translate}}
                    </span></h2>
            </div>

            <div class="row w-75 m-auto my-5 justify-content-around">
                <div class="col-md-5 my-4">
                    <div class="jet-feature">
                        <img class="img-fluid" loading="lazy" src="public/jet/feature01.png" alt="">
                        <h4 class="py-3">{{"jet.section.structured_title" |translate}}</h4>
                        <p>
                            {{"jet.section.structured_desc"|translate}}
                        </p>
                    </div>
                </div>
                <!-- --------- -->

                <div class="col-md-5 my-4">
                    <div class="jet-feature">
                        <img class="img-fluid" loading="lazy" src="public/jet/feature02.png" alt="">
                        <h4 class="py-3">{{"jet.section.enhanced_growth_title"|translate}}</h4>
                        <p>
                            {{"jet.section.enhanced_growth_desc"|translate}}
                        </p>
                    </div>
                </div>

                <!-- ------------ -->

                <div class="col-md-5 my-4">
                    <div class="jet-feature">
                        <img class="img-fluid" loading="lazy" src="public/jet/feature03.png" alt="">
                        <h4 class="py-3">{{"jet.section.expertise_title"|translate}}</h4>
                        <p>

                            {{"jet.section.expertise_prefix"|translate}}
                            <app-partner-reference />
                            {{"jet.section.expertise_suffix"|translate}}
                        </p>
                    </div>
                </div>


                <!-- ------------ -->

                <div class="col-md-5 my-4">
                    <div class="jet-feature">
                        <img class="img-fluid" loading="lazy" src="public/jet/feature04.png" alt="">
                        <h4 class="py-3">{{"jet.section.improved_eval_title"|translate}}</h4>
                        <p>
                            {{"jet.section.improved_eval_desc"|translate}}
                        </p>
                    </div>
                </div>


            </div>



        </div>
    </div>
</section>
<!--end section journy of success  -->


<!-- ------------- -->
<section class="advantages mb-5">
    <div class="container">
        <div class="row w-100 m-auto">
            <div class="col-md-12">
                <h2 class="text-center">{{"jet.section.unmatched_advantages_title"|translate}}<br> {{"jet.section.of"|translate}}<span> 
                    {{"jet.title_short" | translate}}
                    </span> {{"jet.section.by"|translate}} {{"UFeed" | translate}}</h2>
            </div>

            <div class="row justify-content-around">
                <div class="col-md-6 col-sm-12">
                    <div class="single-advantage ">
                        <div class="img-holder col-3">
                            <img class="img-fluid" loading="lazy" src="public/jet/03.png" alt="">
                        </div>
                        <h3>{{"jet.features.bilingual_title"|translate}}</h3>
                        <p>{{"jet.features.bilingual_desc"|translate}}</p>
                    </div>
                </div>
                <!-- ------------ -->

                <div class="col-md-6 col-sm-12">
                    <div class="single-advantage ">
                        <div class="img-holder col-3">
                            <img class="img-fluid" loading="lazy" src="public/jet/12.png" alt="">
                        </div>
                        <h3>{{"jet.features.automated_ja_title"|translate}}</h3>
                        <p>{{"jet.features.automated_ja_desc"|translate}}</p>
                    </div>
                </div>

                <!-- ------------ -->
                <div class="col-md-3 col-sm-12">
                    <div class="single-advantage mid-advantage">
                        <div class="img-holder col-3">
                            <img class="img-fluid" loading="lazy" src="public/jet/13.png" alt="">
                        </div>
                        <h3>{{"jet.features.custom_access_title"|translate}}</h3>
                        <p>{{"jet.features.custom_access_desc"|translate}}</p>
                    </div>
                </div>

                <!-- ------------ -->
                <div class="col-md-5 col-sm-12">
                    <div class="single-advantage mid-advantage">
                        <div class="img-holder col-3">
                            <img class="img-fluid" loading="lazy" src="public/jet/14.png" alt="">
                        </div>
                        <h3>{{"jet.features.consistent_eval_title"|translate}}</h3>
                        <p>{{"jet.features.consistent_eval_desc"|translate}}
                        </p>
                    </div>
                </div>

                <!-- ------------ -->
                <div class="col-lg-4 col-sm-12">
                    <div class="single-advantage mid-advantage">
                        <div class="img-holder col-3">
                            <img class="img-fluid" loading="lazy" src="public/jet/08.png" alt="">
                        </div>
                        <h3>{{"jet.features.alert_notifications_title"|translate}}</h3>
                        <p>{{"jet.features.alert_notifications_desc" |translate}}</p>
                    </div>
                </div>

                <!-- ------------ -->
                <div class="col-md-5 col-sm-12">
                    <div class="single-advantage mid-advantage">
                        <div class="img-holder col-3">
                            <img class="img-fluid" loading="lazy" src="public/jet/09.png" alt="">
                        </div>
                        <h3>{{"jet.features.comparative_position_title" |translate}}</h3>
                        <p>{{"jet.features.comparative_position_desc"|translate}}</p>
                    </div>
                </div>

                <!-- ------------ -->
                <div class="col-md-3 col-sm-12">
                    <div class="single-advantage mid-advantage">
                        <div class="img-holder col-3">
                            <img class="img-fluid" loading="lazy" src="public/jet/16.png" alt="">
                        </div>
                        <h3>{{"jet.features.international_grading_title" | translate}}</h3>
                        <p>{{"jet.features.international_grading_desc"|translate}}</p>
                    </div>
                </div>

                <!-- ------------ -->
                <div class="col-lg-4 col-sm-12">
                    <div class="single-advantage mid-advantage">
                        <div class="img-holder col-3">
                            <img class="img-fluid" loading="lazy" src="public/jet/15.png" alt="">
                        </div>
                        <h3>{{"jet.features.real_time_reporting_title" | translate}}</h3>
                        <p>{{"jet.features.real_time_reporting_desc" |translate}}</p>
                    </div>
                </div>

                <!-- ------------ -->
                <div class="col-md-12 col-sm-12">
                    <div class="single-advantage last-advantage">
                        <div class="img-holder col-3">
                            <img class="img-fluid" loading="lazy" src="public/jet/17.png" alt="">
                        </div>
                        <h3>{{"jet.features.intelligent_eval_title"|translate}}</h3>
                        <p>{{"jet.features.intelligent_eval_desc"|translate}}</p>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>



<!-- ------------- -->



<section class="product-form my-5">
    <div class="container">
        <div class="row">
            @if (!submitted) {
                <div class="col-md-7 title-holder px-3">
                    <h2 class="text-left">{{"jet.cta.prefix" |translate}} <span>
                        {{"jet.cta.title"|translate}}
                        </span></h2>
                </div>
                <div class="col-md-5 form-holder">

                    <form action="" method="post" class="px-3" [formGroup]="jetForm" (ngSubmit)="getFormData(jetForm)">

                        <div class="form-group col-12 my-3">
                            <label for="">{{"jet.form.name_label"|translate}}</label>
                            <input placeholder='{{"jet.form.name_label"|translate}}' formControlName="name"
                                [class.is-valid]="isInputValid('name')" class="form-control p-3" id="">
                            <p *ngIf="isValidInput('name')" class="py-2 text-danger">{{"jet.form.name_error"|translate}}</p>
                        </div>


                        <div class="form-group col-12 my-3">
                            <label for="">{{"jet.form.email_label"|translate}}</label>
                            <input placeholder='{{"jet.form.email_placeholder" | translate}}'
                                [class.is-valid]="isInputValid('email')" formControlName="email" class="form-control p-3"
                                id="">
                            <p *ngIf="isValidInput('email')" class="py-2 text-danger">
                                {{"jet.form.email_error"|translate}}</p>
                        </div>

                        <div class="form-group col-12 my-3">
                            <label for="">{{"jet.form.num_employees_label"|translate}}</label>
                            <input placeholder='{{"jet.form.num_employees_label"|translate}}'
                                formControlName="number_of_employees" [class.is-valid]="isInputValid('number_of_employees')"
                                class="form-control p-3" id="" type="number" max="300" onpaste="return false;">
                            <p *ngIf="isValidInput('number_of_employees')" class="py-2 text-danger">
                                {{"jet.form.num_employees_error"|translate}}</p>
                        </div>


                        <div class="form-group col-12 my-3">
                            <label for="">{{"jet.form.num_departments_label"|translate}}</label>
                            <input placeholder='{{"jet.form.num_departments_label"|translate}}'
                                formControlName="number_of_departments"
                                [class.is-valid]="isInputValid('number_of_departments')" class="form-control p-3" id=""
                                type="number" max="300" onpaste="return false;">
                            <p *ngIf="isValidInput('number_of_departments')" class="py-2 text-danger">
                                {{"jet.form.num_departments_error"|translate}}</p>
                        </div>

                        <div class="form-group col-12 my-3">
                            <label for="">{{"jet.form.contact_number_label" |translate}}</label>
                            <input placeholder='{{"jet.form.contact_number_placeholder"|translate}}'
                                [class.is-valid]="isInputValid('number') " formControlName="number" class="form-control p-3"
                                id="">

                            <p *ngIf="isValidInput('number')" class="py-2 text-danger">
                                {{"jet.form.contact_number_error"|translate}}</p>
                        </div>

                        <div class="form-group col-12 my-3">
                            <label for="">{{'jet.form.company_name_label'|translate}}</label>
                            <input placeholder='{{"jet.form.company_name_placeholder"|translate}}' formControlName="company_name"
                                [class.is-valid]="jetForm.get('company_name')?.errors == null "
                                formControlName="company_name" class="form-control p-3" id="">
                            <p *ngIf="isValidInput('company_name') " class="py-2 text-danger">
                                {{"jet.form.company_name_error" |translate}}</p>
                        </div>
                        <div class="form-group col-12 my-3">
                            <label for="">{{'jet.form.title_label'|translate}}</label>
                            <input placeholder='{{"jet.form.title_label"|translate}}' formControlName="title"
                                [class.is-valid]="isInputValid('title')" formControlName="title" class="form-control p-3"
                                id="">
                            <p *ngIf="isValidInput('title')  " class="py-2 text-danger">
                                {{"jet.form.title_error" |translate}}</p>
                        </div>


                        <button type="submit" [disabled]=" disabled"
                            class=" my-3 p-3 btn col-12 btn-success">
                            {{"jet.form.submit"|translate}}</button>


                    </form>

                </div>
            } @else {
            <app-confirmation-page #confirmationPage id="confirmationSection" />
            }
        </div>
    </div>
</section>