<section class="title d-flex ">
    <div class="container">
        <div class="row">
    <h1>
       <span class="px-3"> JET </span>- Job Evaluation Tool
    </h1>
    
    <p class="py-4">
        JET is an automated job-grading model that helps assess job significance consistently,
         ensuring equity. Job evaluation is crucial for growth,
          affecting compensation for companies and employees.
           Using JOBMASTER methodology,
         organizations can leverage JET to improve evaluations.
    </p>

    </div>
    </div>
</section>

<!-- ------------- -->


<!-- start section journy of success  -->

<section class="journey ">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Introducing <span>Job Evaluation Tool </span></h2>
                <div class="col-2 p-4">
                    <img class="img-fluid" src="/public/icons/Vector.png" alt="" srcset="">
                </div>
            </div>
            <div class="col-md-6">
                <ul>
                    <li class="py-2 my-4">
                        <h3>Structured and Objective Job Evaluation</h3>
                        <p>Allows evaluators to assess job significance in a structured, objective, and consistent manner and it ensures internal equity</p>
                    </li>

                    <li class="py-2 my-4">
                        <h3>Enhanced Organizational Growth</h3>
                        <p>Plays a pivotal role in the growth of organizations and impacts the compensation framework,
                             which is fundamental for both the company and its employees</p>
                    </li >

                    <li class="py-2 my-4">
                        <h3>Expertise in Reward Management</h3>
                        <p>Utilizes JOBMASTER methodology, harnessing vast knowledge and proficiency in reward management</p>
                    </li>

                    <li class="py-2 my-4">
                        <h3>Improved Evaluation and Grading Processes</h3>
                        <p>Enhances evaluation and grading processes with the JET (JOB Evaluation Tool)</p>
                    </li>
                
                </ul>
            </div>
        </div>
    </div>
</section>
<!--end section journy of success  -->


<!-- ------------- -->


<section class="ees-benfits py-5">
    <div class="container">
        <div class="row w-100 justify-content-center">
            <div class="col-8">
                <h2 class="text-center">The Unmatched Advantages of <span>JET</span> by UFeed</h2>
            </div>
            
        </div>

        <div class="row py-5">
           
            <div class="col-12 py-5" 
            
            *ngFor="let item of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]; let i = index" 
            [class.hovered]="hoveredIndex === i"
            (mouseover)="onMouseOver(i)" 
            (mouseout)="onMouseOut()"
            >
                <div class="row">
                    <div class="col-md-8">
                        <div class="num">{{1+i+'.'}}</div>
                        <div class="benfit">
                            <h3 *ngIf="i === 0">International Grading Correlation</h3>
                            <h3 *ngIf="i === 1">First Automated JA Data Gathering Tool</h3>
                            <h3 *ngIf="i === 2">Bilingual - “Arabic/English”</h3>
                            <h3 *ngIf="i === 3">User-Friendly Interface</h3>
                            <h3 *ngIf="i === 4">Customizable Features</h3>
                            <h3 *ngIf="i === 5">Consistent</h3>
                            <h3 *ngIf="i === 6">Remote Accessibility</h3>
                            <h3 *ngIf="i === 7">Alerting Notifications</h3>
                            <h3 *ngIf="i === 8">Comparative View</h3>
                            <h3 *ngIf="i === 9">Safe Data Storage</h3>
                            <h3 *ngIf="i === 10">Real-Time Report</h3>
                        </div>
                       
                        <div class="desc">
                            <p *ngIf="i === 0">International Grading Correlation is a way to translate and relate the different grades and levels globally to each other</p>
                            
                            <p *ngIf="i === 1">The First Automated JA Data Gathering Tool is a pioneering solution designed to revolutionize data collection processes. This innovative tool automates the collection,
                                 analysis, and reporting of data, significantly reducing manual effort and increasing accuracy</p>
                            
                            <p *ngIf="i === 2">Our platform seamlessly bridges the linguistic gap, offering robust bilingual capabilities in Arabic and English.
                                 It provides accurate translations, ensuring clear and effective communication across both languages</p>

                          <p *ngIf="i === 3">Our platform is designed with the user in mind, featuring an intuitive and easy-to-navigate interface.
                             Whether you’re a beginner or an advanced user, our user-friendly design ensures a smooth and efficient experience</p>

                            <p *ngIf="i === 4">Every organization has unique challenges and requirements,
                                 making it essential to have tailored solutions that address specific business needs effectively.</p>

                             <p *ngIf="i === 5">Our platform guarantees a consistent experience every time you use it.
                                 From seamless performance to uniform functionality, you can count on our services to be reliable and predictable.</p>

                          <p *ngIf="i === 6">Our platform excels in providing remote accessibility,
                             ensuring that you can access our services and tools from anywhere at any time</p>

                       <p *ngIf="i === 7">Stay informed and never miss a critical update with our Alerting Notifications feature.
                         Designed to keep you on top of important events and changes</p>

                        <p *ngIf="i === 8">Our Comparative View feature is designed to provide you with a clear and comprehensive 
                            analysis by placing data side-by-side for easy comparison</p>

                            <p *ngIf="i === 9">Our platform prioritizes the security and integrity of your data with our Safe Data Storage feature, ll data is encrypted both in transit and at rest,
                                 safeguarding it from unauthorized access and breaches.</p>

                             <p *ngIf="i === 10">Our platform offers a robust Real-Time Report feature that provides immediate insights and updates,
                                 ensuring that you have the most current information at your disposal</p>

                </div>        
        
            </div>
                    <div class="col-md-4">
                      <div class="icon-holder"><img [src]="'public/jet/0' + (i + 1) + '.png'" class="img-fluid" alt="" srcset=""></div>
                    </div>
                </div>
            </div>

        </div>
    


    </div>


</section>


<section class="product-form">
<div class="container">
    <div class="row">
        <div class="col-md-6 title-holder px-3">
            <h2 class="text-left">Unlock the power of the <span>JET tool</span> and boost your productivity!</h2>
        </div>
        <div class="col-md-6 form-holder">

            <form action="" method="post" class="px-3" [formGroup]="jetForm"
            (ngSubmit)="getFormData(jetForm)">
                  
            <div class="form-group col-12 my-3">
                <label for="">Your Name*</label>
                <input placeholder="Your Name"
                formControlName="username" [class.is-valid]="jetForm.get('username')?.errors == null && jetForm.get('username')?.touched"
                 class="form-control p-3" id="">
                 <p *ngIf="jetForm.get('username')?.errors != null && jetForm.get('username')?.touched" 
                class="py-2 text-danger">Please Check Your Name</p>
              </div>

              <div class="form-group col-12 my-3">
                <label for="">Contact Number*</label>
                <input placeholder="Your Number" 
                [class.is-valid]="jetForm.get('contactNumber')?.errors==null &&
                 jetForm.get('contactNumber')?.touched"
                formControlName="contactNumber"
                class="form-control p-3" id="">

                <p *ngIf="jetForm.get('contactNumber')?.errors!=null && 
                jetForm.get('contactNumber')?.touched"
                class="py-2 text-danger">Please Check Your Phone Number</p>
              </div>

              <div class="form-group col-12 my-3">
                <label for="">Email*</label>
                <input placeholder="ex: username@xyz"
                [class.is-valid]="jetForm.get('email')?.errors==null &&
                 jetForm.get('email')?.touched " 
                formControlName="email"
                class="form-control p-3" id="">
                <p *ngIf="jetForm.get('email')?.errors!=null && jetForm.get('email')?.touched " 
                class="py-2 text-danger">Please Check Your Email</p>
              </div>

              <div class="form-group col-12 my-3">
                <label for="">Company Name*</label>
                <input placeholder="Your Company Name"
                formControlName="companyName" [class.is-valid]="jetForm.get('companyName')?.errors == null &&
                jetForm.get('companyName')?.touched"
                formControlName="companyName" 
                class="form-control p-3" id="">
                <p *ngIf="jetForm.get('companyName')?.errors!=null && jetForm.get('companyName')?.touched " 
                class="py-2 text-danger">Please Fill Your Company Name</p>
              </div>

              <button type="submit" [disabled]="jetForm.invalid == true" 
              class=" my-3 p-3 btn col-12 btn-success" >Submit</button>

            </form>

        </div>
    </div>
</div>
</section>