.title {
    color: #2A2B34; /* Optional: Adjust text color for better visibility */
    padding: 20px; /* Optional: Add some padding */
    min-height: 100vh;
    position: relative; /* Ensure proper positioning for ::before */
  
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        to right,
        rgba(248, 99, 65, 0.70), /* Left fill */
        rgba(55, 93, 149, 0.70), /* Middle fill */
        #fff                      /* Right fill */
      );
      opacity: 0.5; /* Overall transparency */
      filter: blur(250px); /* Applies the blur effect */
      z-index: -1; /* Ensures the gradient is behind the content */
    }
  
    .container {
      .row {
        justify-content: center;
        height: 100%;
        justify-content: center;
        align-content: center;
        width: 75%;
        h1 {
          font-size: 77px;
          font-weight: 700;
          line-height: 110px;
          span {
            background-color: #f86341;
            color: #fff;
          }
        }
        p {
          color: #2A2B34;
          font-size: 20px;
        }
      }
    }
  }
   
h2{
    font-size: 55px;
    font-weight: 700;
    span{
        color: #f86341;
    }
}

.journey{
    padding: 80px 0;
    .container{
        .row{
            h2{
                font-size: 55px;
                font-weight: 700;
                padding-right: 24px;
                span{
                    color: #f86341;
                }
            }
            ul{
                list-style:none;
                li{
                    margin-bottom: 20px;
                    border-left: 5px solid #375D95;
                    padding-left:12px ;
                    transition: .5s;
                &:hover{
                    border-color: #f86341;
                }
                }
            }
        }
    }
  }
  .ees-benfits{
    .container{
        .row{
            h2{
                font-size: 55px;
                font-weight: 700;
                span{
                    color: #f86341;
                }
            }
            .col-md-6{
                img{
                    width: 150px;
                    float: right;
                }
            }
          

            .col-12{
                border-bottom: solid 1px #B9B9B9;
                max-height: 150px;
                transition: .3s ease-in-out;
                overflow: hidden;
               &:hover{
                max-height: 300px;
               }
                .row{
                    .col-md-8{
                        .num{
                            font-size: 20px;
                            color: #f86341;
                            font-weight: 700;
                        }
                        .benfit{
                            font-size: 40px;
                            font-weight: 500;
                        }
                        .desc{
                            opacity: 0;
                            transition: .3s;
                         }
                    }
                    .col-md-4{
                        .icon-holder{
                            width: 80px;
                            float: right;
                            opacity: 1;
                            transition: .3s;
                        }
                    }
                }

              
            }
            .hovered{
                transition: .3s;
                .row{
                    .col-md-8{
                        .desc{
                            opacity: 1;
                         }
                    }
                    .col-md-4{
                        .icon-holder{
                            opacity: 1;
                        }
                    }
                }                
            }
        }
    }
  }

  form{
    .row{
        .form-group{
            label{
                padding: 8px;
                margin-bottom: 8px;
                color: #43424C;
                font-size: 16px;
                font-weight: 500;
                font-family: 'Century Gothic Paneuropean';
            }
            input.form-control.p-3{
                border-radius: 16px;
                background: rgba(0, 0, 0, 0.05);;
                backdrop-filter: blur(28.242982864379883px);
            }
        }
    }
    button{
        background-color: #3B5C92;
        border: #3B5C92;
        transition: .3s;

        &:hover{
            background-color: #f86341;
            border: #f86341;

        }
    }
}

@media (max-width:768px) {
    .col-md-4{
        .icon-holder{
         display: none;
        }
    }
}