<section class="title d-flex ">
    <div class="container">
        <div class="row">
    <h1>
        Journey Through Our Story, Discover the Heart of <br><span class="px-3">Our Mission</span>
    </h1>
    
    <p class="py-4">
        At Ufeed, our story is one of passion,
         dedication, and a relentless pursuit of excellence.
          By exploring our story, you'll uncover the values, challenges, and triumphs that define who we are and what we stand for.
    </p>

    </div>
    </div>
</section>

<!-- start section clients  -->
<app-clients></app-clients>
<!-- end section clients  -->


<!-- start section journy of success  -->

<section class="journey">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>The Journey of Our <span>Success</span></h2>
                <div class="col-2 p-4">

                    <img class="img-fluid" src="./icons/Vector.png" alt="" srcset="">
                </div>
            </div>
            <div class="col-md-6">
                <ul>
                    <li>UFeed the first and unique Arabic/English
                         Platform that provides access to expert 
                         knowledge for building Human Capital 
                         Modules and Utilizing Data Analytics,
                          all powered by cutting-edge technology
                           “ML & AI”</li>

                    <li>With over 25 years of experience and with 
                        the foundation of JOBMASTER, UFeed is 
                        capable of empowering different 
                        organizations at various sizes and 
                        levels to master the HC 
                        industry with best practices.</li>
                    
                        <li>UFeed carries a meaningful essence.
                             In Arabic, it signifies the benefit 
                             and value we bring, while in English,
                            it represents the quantity of 
                            data we feed into the system. 
                            As we accumulate more data points,
                            our stakeholders leverage better outcomes 
                        and enhance their decision-making processes.</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--end section journy of success  -->

<!-- start section enhance work performance -->
<section class="py-5 performance">
    <div class="container">
        <div class="row py-5">
            <h2 class="w-75 m-auto">Enhance Your <span>Workforce Performance</span> with Ufeed’s products</h2>
        </div>
        <div class="row justify-content-center align-center">
            <div class="col-md-4" routerLink="./jet">
                <div class="icon-holder p-3">
                    <img class="img-fluid" src="public/icons/a.png" alt="" srcset="">
                </div>
                <div class="title-per">
                    <h4 class=" text-center">JET -<br/> Job Evaluation Tool</h4>
                </div>
                <div class="cta">
                    <a href="">Read More
                        <i class="fa-solid fa-arrow-right"></i>
                    </a>
                </div>
            </div>

            <div class="col-md-4" routerLink="/ees">
                <div class="icon-holder p-3">
                    <img class="img-fluid" src="public/icons/b.png" alt="" srcset="">
                </div>
                <div class="title-per">
                    <h4 class=" text-center">EES -<br/> Employee Engagement Survey</h4>
                </div>
                <div class="cta">
                    <a href="">Read More
                        <i class="fa-solid fa-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end section enhance work performance -->

<!-- start section team  -->
<section class="team py-5">
<div class="container">
<div class="row">
    <h2 class="text-center">Our Board <span>Members</span></h2>
   
</div>

<div class="row py-5 justify-content-around">
    <div class="col-md-3 member" style=" background-image: url('./public/team/image27.png');">
        <div class="overflow">
            <div class="name">
                <h5>Mahmoud Abdallah</h5>
            </div>
            <div class="position">
                <p class="text-center text-center">Founder and CEO</p>
            </div>
            <div class="linked-in">
                <a href="http://" target="_blank" rel="noopener noreferrer"></a>
            </div>
        </div>
    </div>

    <div class="col-md-3 member1" style=" background-image: url('./public/team/image26.png');">
  <div class="overflow">
            <div class="name">
                <h5>
                    Tarek Roushdy
                </h5>
            </div>
            <div class="position">
                <p class="text-center">Advisory Board Member Founder and Managing Partner - UI Investments</p>
            </div>
            <div class="linked-in">
                <a href="http://" target="_blank" rel="noopener noreferrer"></a>
            </div>
        </div>
    </div>
    <div class="col-md-3 member2" style=" background-image: url('./public/team/image28.png');">
        <div class="overflow">
            <div class="name">
                <h5>
                    Hisham ElBadawy
                </h5>
            </div>
            <div class="position">
                <p>Board Member Group Chairman - GICG</p>
            </div>
            <div class="linked-in">
                <a href="http://" target="_blank" rel="noopener noreferrer"></a>
            </div>
        </div>
    </div>
</div>
</div>
</section>
<!-- end section team  -->