<section class="title d-flex">
    <div class="container">
        <div class="row">
            <h1>
                {{"Journey Through" |translate}} <br><span class="px-3">{{"Our Story"|translate}}</span>
            </h1>
            
            <p class="py-4">
               {{"about_desc"|translate}}
            </p>
        </div>
    </div>
</section>

<!-- start section clients  -->
<app-clients></app-clients>
<!-- end section clients  -->


<!-- start section journy of success  -->

<section class="journey">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>{{"The Journey of Our"| translate}} <span>{{"Success"|translate}}</span></h2>
                <div class="col-2 p-4">
                    <img class="img-fluid" src="/public/icons/Vector.png" alt="" srcset="">
                </div>
            </div>
            <div class="col-md-6">
                <ul>
                    <li>{{"first_desc" |translate}}</li>

                    <li>{{"second_desc" | translate}}</li>
                    
                        <li>{{"third_desc" |translate}}</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--end section journy of success  -->

<!-- start section enhance work performance -->
<section class="py-5 performance">
    <div class="container">
        <div class="row py-5">
            <h2 class="w-75 m-auto">{{"Enhance Your" | translate}} <span>{{"Workforce Performance" |translate}}</span> {{"with Ufeed’s products" | translate}}</h2>
        </div>
        <div class="row justify-content-center align-center">
            <div class="col-md-4" routerLink="./jet">
                <div class="icon-holder p-3">
                    <img class="img-fluid" src="public/icons/a.png" alt="" srcset="">
                </div>
                <div class="title-per">
                    <h4 class=" text-center">{{"Job Evaluation \nTool - JET" | translate}}</h4>
                </div>
                <div class="cta">
                    <a href="">
                        {{"Read_More" | translate}}
                        <i class="fa-solid fa-arrow-right"></i>
                    </a>
                </div>
            </div>

            <div class="col-md-4" routerLink="/ees">
                <div class="icon-holder p-3">
                    <img class="img-fluid" src="public/icons/b.png" alt="" srcset="">
                </div>
                <div class="title-per">
                    <h4 class=" text-center">{{"Employee Engagement \nSurvey - EES" | translate}}</h4>
                </div>
                <div class="cta">
                    <a href="">
                        {{"Read_More" | translate}}
                        <i class="fa-solid fa-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end section enhance work performance -->

<!-- start section team  -->
<section class="team py-5">
<div class="container">
<div class="row">
    <h2 class="text-center">{{"Our Board" |translate}} <span>{{"Members" | translate}}</span></h2>
   
</div>

<div class="row py-5 justify-content-around  m-auto">
    <div class="col-md-3 member" style=" background-image: url('./public/team/image27.png');">
        <div class="overflow">
            <div class="name">
                <h5>{{ "Mahmoud_Abdallah" | translate }}</h5>            </div>
            <div class="position">
                <p class="text-center text-center p-3 text-center">{{"Founder and CEO" | translate}}</p>
            </div>
            <div class="linked-in">
                <a href="https://www.linkedin.com/in/mahmoud-abd-allah-b007a68/" target="_blank" rel="noopener noreferrer">
                    <i class="fa-brands fa-linkedin"></i>
                </a>
            </div>
        </div>
    </div>

    <div class="col-md-3 member1" style=" background-image: url('./public/team/image26.png');">
  <div class="overflow">
            <div class="name">
                <h5>
                    {{"Tarek Roushdy" | translate}}
                </h5>
            </div>
            <div class="position">
                <p class="text-center p-3 text-center">{{"tarek_position" | translate}}</p>
            </div>
            <div class="linked-in">
                <a href="https://www.linkedin.com/in/tarekroushdy/" target="_blank" rel="noopener noreferrer">
                    <i class="fa-brands fa-linkedin"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-3 member2" style=" background-image: url('./public/team/image28.png');">
        <div class="overflow">
            <div class="name">
                <h5>
                    {{"Hisham ElBadawy" | translate}}
                </h5>
            </div>
            <div class="position p-3 text-center">
                <p>{{"Board Member Group Chairman - GICG" | translate}}</p>
            </div>
            <div class="linked-in">
                <a href="https://www.linkedin.com/in/hisham-el-badawy-aa6714/" target="_blank" rel="noopener noreferrer">
                    <i class="fa-brands fa-linkedin"></i>
                </a>
            </div>
        </div>
    </div>
</div>
</div>
</section>
<!-- end section team  -->

<!-- speach message -->
<section class="message">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>{{"Message from the CEO"|translate }}</h2>
                <p>{{"message_ceo"|translate}}</p>
                <p>{{"Thank you for being a part of our journey." | translate}}</p>
                <p>{{"Warm regards," |translate}}</p>
                <p class="ceo-signiture">Mahmoud Abdalla</p>
            </div>
            
            <div class="col-md-6 img_holder">
                <img class="img-fluid m-auto" src="./public/team/Mahmoud-UFeed2.png" alt="">
            </div>
        </div>
    </div>
</section>