
<!-- Clients section  -->

<section class="clients-section">
    <div class="container">
     
      <div class="title-holder row justify-content-center align-center">
        
        <div class="before col-3"></div>
        <p class=" text-center col-3 ">trusted by our clients</p>
        <div class="after col-3"></div>
      
      </div>
    
      <!-- ----------- -->
      <div class="slider-container">
        <div class="slider-wrapper">
          <div class="slider" [style.transform]="'translateX(' + currentOffset + '%)'">
            <div class="slider-item" *ngFor="let image of images">
              <img [src]="image" alt="Slider Image" />
            </div>
          </div>
        </div>
      </div>
      
      <!-- ----------- -->

      </div>
    
    </section>
    
    <!-- end Clients section  -->
    