<!-- Clients section  -->

<section class="clients-section">
  <div class="container">

    <div class="title-holder row justify-content-center align-center">
      <div class="before col-3"></div>
      <p class="text-center col-3">{{"trusted by our clients"|translate}}</p>
      <div class="after col-3"></div>
    </div>

    <!-- ----------- -->
    <div class="slider-container position-relative px-5">
      <button
        class="arrow-left"
        (click)="slideLeft()"
        aria-label="Slide Left"
      >
        <i class="fa-solid fa-chevron-left"></i>
      </button>
      <div class="slider-wrapper">
        <div
          class="slider"
          [style.transform]="'translateX(' + currentOffset + '%)'"
        >
          <div class="slider-item" *ngFor="let image of images">
            <img [src]="image" alt="Slider Image" />
          </div>
        </div>
      </div>
     
      <button
        class="arrow-right"
        (click)="slideRight()"
        aria-label="Slide Right"
      >
        <i class="fa-solid fa-chevron-right"></i>
      </button>
    </div>
    <!-- ----------- -->

  </div>
</section>

<!-- end Clients section  -->
