<section class="title d-flex ">
    <div class="container">
        <div class="row">
    <h1>
        <span class="px-3">EES</span> - Employee Engagement Survey
    </h1>
    
    <p class="py-4">
        Our Engagement Survey Platform is designed to 
        gauge employee satisfaction and motivation effectively.
        It provides insights to enhance productivity and retain top talent,
        while also allowing for customizable questions and detailed 
        reporting.    
    </p>

    </div>
    </div>
</section>


<!-- ------------- -->


<!-- start section journy of success  -->

<section class="journey ">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="row p-4">
                <div class="col-3">
                    <img class="img-fluid" src="/public/ees.png" alt="" srcset="">
                </div>
                <div class="col-9">
                    <h2>Introducing <span>Employee Engagement Survey </span></h2>
                </div>
                </div>
            </div>
            <div class="col-md-6">
                <ul>
                    <li class="py-2 my-4">
                        <h3>Enhanced Understanding of Employees</h3>
                        <p>Gain deep insights into employee satisfaction, motivation, and engagement levels through our comprehensive surveys</p>
                    </li>

                    <li class="py-2 my-4">
                        <h3>Strategic Improvement and Talent Retention</h3>
                        <p>Develop targeted strategies to boost productivity and retain top talent, 
                            track progress, and make informed, data-driven decisions.</p>
                    </li >

                    <li class="py-2 my-4">
                        <h3>Flexible Demographic Display</h3>
                        <p>Benefit from our platform's flexibility in 
                            displaying demographics and comprehensive multiple-choice questions, tailored to your needs.</p>
                    </li>

                    <li class="py-2 my-4">
                        <h3>Customization and Detailed Reporting</h3>
                        <p>Enjoy the option to add customized questions and generate detailed,
                             customizable reports for thorough analysis and actionable insights</p>
                    </li>
                
                </ul>
            </div>
        </div>
    </div>
</section>
<!--end section journy of success  -->


<!-- ------------- -->




<section class="ees-benfits py-5">
    <div class="container">
        <div class="row w-100">
            <div class="col-6 m-auto text-center">
                <h2>Discover the Benefits of <span>EES</span> by UFeed</h2>
            </div>
            <!-- <div class="col-md-6">
                <img src="./ees.png" class="img " alt="" srcset="">
            </div> -->
        </div>

        <div class="row py-5">
           
            <div class="col-12 py-5" 
            
            *ngFor="let item of [1, 2, 3, 4, 5, 6, 7, 8]; let i = index" 
            [class.hovered]="hoveredIndex === i"
            (mouseover)="onMouseOver(i)" 
            (mouseout)="onMouseOut()"
            >
                <div class="row">
                    <div class="col-md-8">
                        <div class="num">{{1+i+'.'}}</div>
                        <div class="benfit">
                            <h3 *ngIf="i === 0">Instant Access Self Service Platform</h3>
                            <h3 *ngIf="i === 1">Designed by Top-Notch HR Experts</h3>
                            <h3 *ngIf="i === 2">Survey Progress Monitoring Dashboard</h3>
                            <h3 *ngIf="i === 3">Customizable Survey Design with Expert Guidance</h3>
                            <h3 *ngIf="i === 4">Arabic & English Bilingual Interface</h3>
                            <h3 *ngIf="i === 5">Flexible Demographic Customization</h3>
                            <h3 *ngIf="i === 6">Customizable Analytics Reporting</h3>
                            <h3 *ngIf="i === 7">Benchmark Capabilities</h3>
                        </div>
                       
                        <div class="desc">
                            <p *ngIf="i === 0">International Grading Correlation is a systematic approach to understanding and
                                 comparing academic grading standards across different countries and educational systems.</p>
                            
                            <p *ngIf="i === 1">Crafted by leading HR professionals, this tool embodies the expertise and insights necessary to streamline data collection, ensuring efficiency and precision in every step.</p>
                            
                            <p *ngIf="i === 2">Our Survey Progress Monitoring Dashboard provides a comprehensive overview of your survey's status, allowing you to track responses and engagement in real-time. With intuitive visuals and detailed analytics, you can ensure your surveys are on the right track for success.</p>

                          <p *ngIf="i === 3">Our platform is designed with the user in mind, featuring an intuitive and easy-to-navigate interface. Whether you’re a beginner or an advanced user, our user-friendly design ensures a smooth and efficient experience</p>

                            <p *ngIf="i === 4">Our Arabic & English Bilingual Interface is designed to meet the diverse needs of users, ensuring seamless navigation and accessibility in both languages. This tailored solution enhances user experience by providing intuitive access to content in their preferred language.</p>

                             <p *ngIf="i === 5">Our platform offers flexible demographic customization, ensuring that your experience is tailored to your unique needs. With adaptable features and personalized settings, you can enjoy a service that evolves with you.</p>

                          <p *ngIf="i === 6">Our customizable analytics reporting feature empowers you to tailor reports to your unique requirements, giving you insights that matter most to your business.</p>

                       <p *ngIf="i === 7">Our Benchmark Capabilities ensure you stay updated with essential alerts, helping you track significant events and changes effortlessly.</p>
                </div>        
        
            </div>
                    <div class="col-md-4">
                      <div class="icon-holder"><img [src]="'public/icons/0' + (i + 1) + '.png'" class="img-fluid" alt="" srcset=""></div>
                    </div>
                </div>
            </div>




        </div>
    


    </div>


</section>




<section class="product-form my-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 title-holder px-3">
                <h2 class="text-left">Elevate your efficiency 
                    with the <span>EES tool ! </span></h2>
            </div>
            <div class="col-md-6 form-holder">
    
                <form action="" method="post" class="px-3" [formGroup]="eesForm"
                (ngSubmit)="getFormData(eesForm)">
                      
                <div class="form-group col-12 my-3">
                    <label for="">Your Name*</label>
                    <input placeholder="Your Name"
                    formControlName="username" [class.is-valid]="eesForm.get('username')?.errors == null && eesForm.get('username')?.touched"
                     class="form-control p-3" id="">
                     <p *ngIf="eesForm.get('username')?.errors != null && eesForm.get('username')?.touched" 
              class="py-2 text-danger">Please Check Your Name</p>
                  </div>
    
                  <div class="form-group col-12 my-3">
                    <label for="">Contact Number*</label>
                    <input placeholder="Your Number" 
                    [class.is-valid]="eesForm.get('contactNumber')?.errors==null &&
                     eesForm.get('contactNumber')?.touched"
                    formControlName="contactNumber"
                    class="form-control p-3" id="">

                    <p *ngIf="eesForm.get('contactNumber')?.errors!=null && 
                    eesForm.get('contactNumber')?.touched"
                    class="py-2 text-danger">Please Check Your Phone Number</p>
                  </div>
    
                  <div class="form-group col-12 my-3">
                    <label for="">Email*</label>
                    <input placeholder="ex: username@xyz"
                    [class.is-valid]="eesForm.get('email')?.errors==null &&
                     eesForm.get('email')?.touched " 
                    formControlName="email"
                    class="form-control p-3" id="">
                    <p *ngIf="eesForm.get('email')?.errors!=null && eesForm.get('email')?.touched " 
                    class="py-2 text-danger">Please Check Your Email</p>
                  </div>
    
                  <div class="form-group col-12 my-3">
                    <label for="">Company Name*</label>
                    <input placeholder="Your Company Name"
                    formControlName="companyName" [class.is-valid]="eesForm.get('companyName')?.errors == null &&
                    eesForm.get('companyName')?.touched"
                    formControlName="companyName" 
                    class="form-control p-3" id="">
                    <p *ngIf="eesForm.get('companyName')?.errors!=null && eesForm.get('companyName')?.touched " 
                    class="py-2 text-danger">Please Fill Your Company Name</p>
                  </div>
    
                  <button type="submit" [disabled]="eesForm.invalid == true" 
                  class=" my-3 p-3 btn col-12 btn-success" >Submit</button>
    
                </form>
    
            </div>
        </div>
    </div>
    </section>