<section class="title d-flex ">
    <div class="container">
        <div class="row">
    <h1>
        <span class="px-3">EES</span> - {{"Employee Engagement Survey"|translate}}
    </h1>
    
    <p class="py-4">
        {{"ees_page_desc"| translate}}
    </p>

    </div>
    </div>
</section>


<!-- ------------- -->


<!-- start section journy of success  -->

<section class="journey ">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row p-4">
                
               
                    <h2 class="text-center w-75 m-auto">{{"Introducing" |translate}} <span>{{"Employee" |translate}} 
                     <br> {{"Engagement Survey" |translate}} </span></h2>
                </div>
            </div>
            
<!-- ---------- -->
   
    <div class="row w-75 m-auto my-5 justify-content-around">
        <div class="col-md-5 my-4">
            <div class="jet-feature">
                <img class="img-fluid" src="public/ees/01.png" alt="">
                <h4 class="py-3">{{"Enhanced Understanding of Employees" |translate}}</h4>
                <p>
                    {{"Enhanced Understanding of Employees desc"|translate}}
                    
                </p>
            </div>
        </div>
        <!-- --------- -->

        <div class="col-md-5 my-4">
            <div class="jet-feature">
                <img class="img-fluid" src="public/ees/02.png" alt="">
                <h4 class="py-3">{{"Strategic Improvement and Talent Retention"|translate}}</h4>
                <p>
                    {{"Strategic Improvement and Talent Retention desc"|translate}}
                </p>
            </div>
        </div>

        <!-- ------------ -->

        <div class="col-md-11 my-4">
            <div class="jet-feature">
                <img class="img-fluid" src="public/ees/03.png" alt="">
                <h4 class="py-3">{{"Flexible Demographic Display" |translate}}</h4>
                <p>
                    {{"Flexible Demographic Display desc"|translate}}
                </p>
            </div>
        </div>


         <!-- ------------ -->

         <!-- <div class="col-md-5 my-4">
            <div class="jet-feature">
                <img class="img-fluid" src="public/ees/04.png" alt="">
                <h4 class="py-3">Customization and Detailed Reporting</h4>
                <p>
                    Enjoy the option to add customized questions and generate detailed,
                     customizable reports for thorough analysis and actionable insights
                </p>
            </div>
        </div> -->


   


</div>




<!-- ---------- -->


        </div>
    </div>
</section>
<!--end section journy of success  -->


<!-- ------------- -->


<section class="advantages mb-5">
    <div class="container">
        <div class="row w-100 m-auto">
            <div class="col-md-12">
                <h2 class="text-center">{{"The Unmatched Advantages" |translate}}<br> {{"of"|translate}}<span> JET </span> {{"by"|translate}} UFeed</h2>       
            </div>

            <div class="row justify-content-around">
                <div class="col-md-6">
                    <div class="single-advantage">
                        <div class="img-holder col-3">
                            <img class="img-fluid" src="public/jet/03.png" alt="">
                        </div>
                        <h3>{{"Bilingual Interface"|translate}}</h3>
                        <p>{{"توفر منصة UFeed EES واجهة ثنائية اللغة باللغتين العربية والإنجليزية، مما يعزز تجربة المستخدم ويضمن التواصل الواضح"|translate}}</p>
                    </div>
                </div>
                <!-- ------------ -->
                <div class="col-md-6">
                    <div class="single-advantage">
                        <div class="img-holder col-3">
                            <img class="img-fluid" src="public/jet/18.png" alt="">
                        </div>
                        <h3>{{"Expert-Designed Tool"|translate}}</h3>
                        <p>{{"Crafted by top HR professionals, this tool streamlines data collection with expert insights, ensuring efficiency and accuracy"|translate}} </p>
                    </div>
                </div>

                 <!-- ------------ -->
                 <div class="col-md-4">
                    <div class="single-advantage">
                        <div class="img-holder col-3">
                            <img class="img-fluid" src="public/jet/19.png" alt="">
                        </div>
                        <h3>{{"Instant Self-Service Access"|translate}}</h3>
                        <p>{{"HR professionals can quickly create engagement surveys with just a few clicks,ensuring timely feedback collection."|translate}}</p>
                    </div>
                </div>


                  <!-- ------------ -->
                  <div class="col-md-4">
                    <div class="single-advantage">
                        <div class="img-holder col-3">
                            <img class="img-fluid" src="public/jet/20.png" alt="">
                        </div>
                        <h3>{{"Diverse Survey Types"|translate}}</h3>
                        <p>{{"UFeed EES platform offers various survey types,from comprehensive questionnaires to quick pulse surveys, tailored to your needs."|translate}}</p>
                    </div>
                </div>

                   <!-- ------------ -->
                   <div class="col-md-4">
                    <div class="single-advantage">
                        <div class="img-holder col-3">
                            <img class="img-fluid" src="public/jet/21.png" alt="">
                        </div>
                        <h3>{{"Customizable Demographics" |translate}}</h3>
                        <p>{{"Easily customize demographics to fit your organization’s unique employee classifications, enhancing result analysis."|translate}}</p>
                    </div>
                </div>


                     <!-- ------------ -->
                     <div class="col-md-4">
                        <div class="single-advantage">
                            <div class="img-holder col-3">
                                <img class="img-fluid" src="public/jet/22.png" alt="">
                            </div>
                            <h3>{{"Benchmark Capabilities" |translate}}</h3>
                            <p>{{"Establish benchmark capabilities by analyzing internal data-point’s year-over-year and building external benchmarks through comparisons with broader market references, which creates a comprehensive view of performance, fostering efficiency enhancements across the organization." |translate}}</p>
                        </div>
                    </div>

                       <!-- ------------ -->
                       <div class="col-md-4">
                        <div class="single-advantage">
                            <div class="img-holder col-3">
                                <img class="img-fluid" src="public/jet/23.png" alt="">
                            </div>
                            <h3>{{"Progress Monitoring Dashboard" |translate}}</h3>
                            <p>{{"Track survey progress in real-time with our dashboard, ensuring your surveys remain on track for success."|translate}}</p>
                        </div>
                    </div>


                      <!-- ------------ -->
                      <div class="col-md-4">
                        <div class="single-advantage">
                            <div class="img-holder col-3">
                                <img class="img-fluid" src="public/jet/25.png" alt="">
                            </div>
                            <h3>{{"Custom Analytics Reporting"|translate}}</h3>
                            <p>{{"Tailor your analytics reports to focus on the demographics and topics that matter most to your business."|translate}}</p>
                        </div>
                    </div>


                     <!-- ------------ -->
                     <div class="col-md-12">
                        <div class="single-advantage">
                            <div class="img-holder col-3">
                                <img class="img-fluid" src="public/jet/26.png" alt="">
                            </div>
                            <h3>{{"Smart Actionable Insights"|translate}}</h3>
                            <p>{{"Leverage AI to uncover market norms by analyzing engagement survey data, identifying the highest and lowest ranked topics, equipping users with actionable recommendations tailored to enhance engagement results, ensuring organizations remain competitive and aligned with industry benchmarks." | translate}}</p>
                        </div>
                    </div>

            </div>

        </div>
    </div>
</section>





<section class="product-form my-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 title-holder px-3">
                <h2 class="text-left">{{"Elevate your efficiency with the" |translate}} <span>{{"EES tool"|translate}} ! </span></h2>
            </div>
            <div class="col-md-6 form-holder">
    
                <form action="" method="post" class="px-3" [formGroup]="eesForm"
                (ngSubmit)="getFormData(eesForm)">
                      
                <div class="form-group col-12 my-3">
                    <label for="">{{"YOUR_NAME"|translate}}</label>
                    <input placeholder='{{"YOUR_NAME"|translate}}'
                    formControlName="username" [class.is-valid]="eesForm.get('username')?.errors == null && eesForm.get('username')?.touched"
                     class="form-control p-3" id="">
                     <p *ngIf="eesForm.get('username')?.errors != null && eesForm.get('username')?.touched" 
              class="py-2 text-danger">{{"CHECK_YOUR_NAME"|translate}}</p>
                  </div>
    
                  <div class="form-group col-12 my-3">
                    <label for="">{{"Contact Number*" |translate}}</label>
                    <input placeholder='{{"Your Phone Number"|translate}}'
                    [class.is-valid]="eesForm.get('contactNumber')?.errors==null &&
                     eesForm.get('contactNumber')?.touched"
                    formControlName="contactNumber"
                    class="form-control p-3" id="">

                    <p *ngIf="eesForm.get('contactNumber')?.errors!=null && 
                    eesForm.get('contactNumber')?.touched"
                    class="py-2 text-danger">{{"Please Check Your Phone Number"|translate}}</p>
                  </div>
    
                  <div class="form-group col-12 my-3">
                    <label for="">{{"Email*"|translate}}</label>
                    <input placeholder="ex: username@xyz"
                    [class.is-valid]="eesForm.get('email')?.errors==null &&
                     eesForm.get('email')?.touched " 
                    formControlName="email"
                    class="form-control p-3" id="">
                    <p *ngIf="eesForm.get('email')?.errors!=null && eesForm.get('email')?.touched " 
                    class="py-2 text-danger">{{"Please Check Your Email"|translate}}</p>
                  </div>
    
                  <div class="form-group col-12 my-3">
                    <label for="">{{'Company Name'|translate}}</label>
                    <input placeholder='{{"Your Company"|translate}}'
                    formControlName="companyName" [class.is-valid]="eesForm.get('companyName')?.errors == null &&
                    eesForm.get('companyName')?.touched"
                    formControlName="companyName" 
                    class="form-control p-3" id="">
                    <p *ngIf="eesForm.get('companyName')?.errors!=null && eesForm.get('companyName')?.touched " 
                    class="py-2 text-danger">{{"Please Fill Your Company Name" |translate}}</p>
                  </div>
    
                  <button type="submit" [disabled]="eesForm.invalid == true" 
                  class=" my-3 p-3 btn col-12 btn-success" >{{"Submit"|translate}}</button>
    
                </form>
    
            </div>
        </div>
    </div>
    </section>