<section class="title d-flex ">
    <div class="container">
        <div class="row">
            <h1>
                <span class="px-3">EES</span> - {{"ees.page.title"|translate}}
            </h1>

            <p class="py-4">
                {{"ees.page.desc"| translate}}
            </p>

        </div>
    </div>
</section>


<!-- ------------- -->


<!-- start section journy of success  -->

<section class="journey ">
    <div class="container">
        <div class="row">
            <div class="col-md-12">


                <h2 class="text-center w-75 m-auto">{{"ees.hero.introducing" |translate}} <span>{{"ees.hero.employee" |translate}}
                        <br> {{"ees.hero.survey" |translate}} </span></h2>

            </div>

            <!-- ---------- -->

            <div class="row w-75 m-auto my-5 justify-content-around">
                <div class="col-md-5 my-4">
                    <div class="jet-feature">
                        <img class="img-fluid" loading="lazy" src="public/ees/01.png" alt="">
                        <h4 class="py-3">{{"ees.benefits.enhanced_understanding_title" |translate}}</h4>
                        <p>
                            {{"ees.benefits.enhanced_understanding_desc"|translate}}

                        </p>
                    </div>
                </div>
                <!-- --------- -->

                <div class="col-md-5 my-4">
                    <div class="jet-feature">
                        <img class="img-fluid" loading="lazy" src="public/ees/02.png" alt="">
                        <h4 class="py-3">{{"ees.benefits.strategic_improvement_title"|translate}}</h4>
                        <p>
                            {{"ees.benefits.strategic_improvement_desc"|translate}}
                        </p>
                    </div>
                </div>

                <!-- ------------ -->

                <div class="col-md-5 my-4">
                    <div class="jet-feature">
                        <img class="img-fluid" loading="lazy" src="public/ees/03.png" alt="">
                        <h4 class="py-3">{{"ees.benefits.flexible_demographics_title" |translate}}</h4>
                        <p>
                            {{"ees.benefits.flexible_demographics_desc"|translate}}
                        </p>
                    </div>
                </div>


            </div>




            <!-- ---------- -->


        </div>
    </div>
</section>
<!--end section journy of success  -->


<!-- ------------- -->


<section class="advantages mb-5">
    <div class="container">
        <div class="row w-100 m-auto">
            <div class="col-md-12">
                <h2 class="text-center">{{"ees.benefits.discover_benefits_title" |translate}}<br> 
                    {{"ees.benefits.of"|translate}}<span> EES </span>
                    {{"ees.benefits.by"|translate}} {{"UFeed" | translate}}</h2>
            </div>

            <div class="row justify-content-around">
                <div class="col-md-6 col-sm-12">
                    <div class="single-advantage">
                        <div class="img-holder col-3">
                            <img class="img-fluid" loading="lazy" src="public/jet/03.png" alt="">
                        </div>
                        <h3>{{"ees.features.bilingual_title"|translate}}</h3>
                        <p>{{"ees.features.bilingual_desc"|translate}}</p>
                    </div>
                </div>
                <!-- ------------ -->
                <div class="col-md-6 col-sm-12">
                    <div class="single-advantage">
                        <div class="img-holder col-3">
                            <img class="img-fluid" loading="lazy" src="public/jet/18.png" alt="">
                        </div>
                        <h3>{{"ees.features.expert_tool_title"|translate}}</h3>
                        <p>{{"ees.features.expert_tool_desc"|translate}} </p>
                    </div>
                </div>

                <!-- ------------ -->
                <div class="col-md-5 col-sm-12">
                    <div class="single-advantage mid-advantage">
                        <div class="img-holder col-3">
                            <img class="img-fluid" loading="lazy" src="public/jet/19.png" alt="">
                        </div>
                        <h3>{{"ees.features.instant_access_title"|translate}}</h3>
                        <p>{{"ees.features.instant_access_desc"|translate}}</p>
                    </div>
                </div>


                <!-- ------------ -->
                <div class="col-md-3 col-sm-12 ">
                    <div class="single-advantage mid-advantage">
                        <div class="img-holder col-3">
                            <img class="img-fluid" loading="lazy" src="public/jet/20.png" alt="">
                        </div>
                        <h3>{{"ees.features.diverse_surveys_title"|translate}}</h3>
                        <p>{{"ees.features.diverse_surveys_desc"|translate}}</p>
                    </div>
                </div>

                <!-- ------------ -->
                <div class="col-lg-4 col-sm-12 ">
                    <div class="single-advantage mid-advantage">
                        <div class="img-holder col-3">
                            <img class="img-fluid" loading="lazy" src="public/jet/21.png" alt="">
                        </div>
                        <h3>{{"ees.features.custom_demographics_title" |translate}}</h3>
                        <p>{{"ees.features.custom_demographics_desc"|translate}}</p>
                    </div>
                </div>




                <!-- ------------ -->
                <div class="col-md-3 col-sm-12">
                    <div class="single-advantage mid-advantage">
                        <div class="img-holder col-3">
                            <img class="img-fluid" loading="lazy" src="public/jet/23.png" alt="">
                        </div>
                        <h3>{{"ees.features.progress_dashboard_title" |translate}}</h3>
                        <p>{{"ees.features.progress_dashboard_desc"|translate}}</p>
                    </div>
                </div>


                <!-- ------------ -->
                <div class="col-lg-4 col-sm-12">
                    <div class="single-advantage mid-advantage">
                        <div class="img-holder col-3">
                            <img class="img-fluid" loading="lazy" src="public/jet/25.png" alt="">
                        </div>
                        <h3>{{"ees.features.custom_analytics_title"|translate}}</h3>
                        <p>{{"ees.features.custom_analytics_desc"|translate}}</p>
                    </div>
                </div>

                <!-- ------------ -->
                <div class="col-md-5 col-sm-12">
                    <div class="single-advantage mid-advantage">
                        <div class="img-holder col-3">
                            <img class="img-fluid" loading="lazy" src="public/jet/22.png" alt="">
                        </div>
                        <h3>{{"ees.features.benchmark_title" |translate}}</h3>
                        <p>{{"ees.features.benchmark_desc" |translate}}</p>
                    </div>
                </div>

                <!-- ------------ -->
                <div class="col-md-12 col-sm-12">
                    <div class="single-advantage last-advantage">
                        <div class="img-holder col-3">
                            <img class="img-fluid" loading="lazy" src="public/jet/26.png" alt="">
                        </div>
                        <h3>{{"ees.features.smart_insights_title"|translate}}</h3>
                        <p>{{"ees.features.smart_insights_desc" | translate}}</p>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>





<section class="product-form my-5">
    <div class="container">
        <div class="row">
            @if (!submitted) {
            <div class="col-md-7 title-holder px-3">
                <h2 class="text-left">{{"ees.cta.elevate_prefix" |translate}} <span>{{"ees.cta.tool_title"|translate}}
                    </span></h2>
            </div>
            <div class="col-md-5 form-holder">

                <form action="" method="post" class="px-3" [formGroup]="eesForm" (ngSubmit)="getFormData(eesForm)">

                    <div class="form-group col-12 my-3">
                        <label for="">{{"ees.form.name_label"|translate}}</label>
                        <input placeholder='{{"ees.form.name_label"|translate}}' formControlName="name"
                            [class.is-valid]="isInputValid('name')" class="form-control p-3" id="">
                        <p *ngIf="isValidInput('name')" class="py-2 text-danger">{{"ees.form.name_error"|translate}}</p>
                    </div>


                    <div class="form-group col-12 my-3">
                        <label for="">{{"ees.form.email_label"|translate}}</label>
                        <input placeholder='{{"ees.form.email_placeholder" | translate}}'
                            [class.is-valid]="isInputValid('email')" formControlName="email" class="form-control p-3"
                            id="">
                        <p *ngIf="isValidInput('email')" class="py-2 text-danger">
                            {{"ees.form.email_error"|translate}}</p>
                    </div>

                    <div class="form-group col-12 my-3">
                        <label for="">{{"ees.form.num_employees_label"|translate}}</label>
                        <input placeholder='{{"ees.form.num_employees_label"|translate}}'
                            formControlName="number_of_employees" [class.is-valid]="isInputValid('number_of_employees')"
                            class="form-control p-3" id="" type="number" max="300" onpaste="return false;">
                        <p *ngIf="isValidInput('number_of_employees')" class="py-2 text-danger">
                            {{"ees.form.num_employees_error"|translate}}</p>
                    </div>


                    <div class="form-group col-12 my-3">
                        <label for="">{{"ees.form.num_departments_label"|translate}}</label>
                        <input placeholder='{{"ees.form.num_departments_label"|translate}}'
                            formControlName="number_of_departments"
                            [class.is-valid]="isInputValid('number_of_departments')" class="form-control p-3" id=""
                            type="number" max="300" onpaste="return false;">
                        <p *ngIf="isValidInput('number_of_departments')" class="py-2 text-danger">
                            {{"ees.form.num_departments_error"|translate}}</p>
                    </div>

                    <div class="form-group col-12 my-3">
                        <label for="">{{"ees.form.contact_number_label" |translate}}</label>
                        <input placeholder='{{"ees.form.contact_number_placeholder"|translate}}'
                            [class.is-valid]="isInputValid('number') " formControlName="number" class="form-control p-3"
                            id="">

                        <p *ngIf="isValidInput('number')" class="py-2 text-danger">
                            {{"ees.form.contact_number_error"|translate}}</p>
                    </div>

                    <div class="form-group col-12 my-3">
                        <label for="">{{'ees.form.company_name_label'|translate}}</label>
                        <input placeholder='{{"ees.form.company_name_placeholder"|translate}}' formControlName="company_name"
                            [class.is-valid]="eesForm.get('company_name')?.errors == null "
                            formControlName="company_name" class="form-control p-3" id="">
                        <p *ngIf="isValidInput('company_name') " class="py-2 text-danger">
                            {{"ees.form.company_name_error" |translate}}</p>
                    </div>
                    <div class="form-group col-12 my-3">
                        <label for="">{{'ees.form.title_label'|translate}}</label>
                        <input placeholder='{{"ees.form.title_label"|translate}}' formControlName="title"
                            [class.is-valid]="isInputValid('title')" formControlName="title" class="form-control p-3"
                            id="">
                        <p *ngIf="isValidInput('title')  " class="py-2 text-danger">
                            {{"ees.form.title_error" |translate}}</p>
                    </div>


                    <button type="submit" [disabled]="disabled"
                        class=" my-3 p-3 btn col-12 btn-success">{{"ees.form.submit"|translate}}</button>


                </form>

            </div>
            } @else {
            <app-confirmation-page #confirmationPage id="confirmationSection" />
            }
        </div>
    </div>
</section>