.title {
    color: #2A2B34; /* Optional: Adjust text color for better visibility */
    padding: 20px; /* Optional: Add some padding */
    min-height: 75vh;
    position: relative; /* Ensure proper positioning for ::before */
  
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        to right,
        rgba(248, 99, 65, 0.70), /* Left fill */
        rgba(55, 93, 149, 0.70), /* Middle fill */
        #fff                      /* Right fill */
      );
      opacity: 0.5; /* Overall transparency */
      filter: blur(250px); /* Applies the blur effect */
      z-index: -1; /* Ensures the gradient is behind the content */
    }
  
    .container {
      .row {
        justify-content: center;
        height: 100%;
        justify-content: center;
        align-content: flex-end;
        width: 75%;
        h1 {
          font-size: 77px;
          font-weight: 700;
          line-height: 110px;
          span {
            background-color: #f86341;
            color: #fff;
          }
        }
        p {
          color: #2A2B34;
          font-size: 20px;
        }
      }
    }
  }
   
  
  .journey{
    padding: 80px 0;
    .container{
        .row{
            h2{
                font-size: 55px;
                font-weight: 700;
                padding-right: 24px;
                span{
                    color: #f86341;
                }
            }

            .col-md-5{
                border-radius: 16px;
                border: solid 1px #2A2B34;
                padding: 24px;
                background-color: #fff;
                h4{
                    border-bottom: #f86341 solid 2px;
                    font-size: 30px;
                }
                p{
                    font-size: 16px!important;
                }
            }
        }
    }
  }
  
.advantages{
    .container{
        .row{
            h2{
                font-size: 55px;
                font-weight: 700;
                padding-right: 24px;
                span{
                    color: #f86341;
                }
            }
            .col-md-6,.col-md-4,.col-md-12{
                padding: 12px;
            .single-advantage{
                border: solid 2px #E9E9E9;
                border-radius: 16px;
                padding: 24px;
               height: 400px;
                display: flex;
                flex-direction: column;
                justify-content: end;
                transition: .3s;
                &:hover{
                    border-left: 8px solid #f86341;
                }
                .img-holder{
                    margin-bottom: 16px;
                }
                h3{
                    font-size: 30px;
                }
              
            }
            }
        }
    }
}


  .product-form{
    .container{
        .row{
            .title-holder{
                h2{
                    font-size: 55px;
                    font-weight: 700;
                    span{
                        color: #f86341;
                    }
                }
            }
        }
    }
  }

  form{
    .row{
        .form-group{
            label{
                padding: 8px;
                margin-bottom: 8px;
                color: #43424C;
                font-size: 16px;
                font-weight: 500;
                font-family: 'Century Gothic Paneuropean';
            }
            input.form-control.p-3{
                border-radius: 16px;
                background: rgba(0, 0, 0, 0.05);;
                backdrop-filter: blur(28.242982864379883px);
            }
        }
    }
    button{
        background-color: #3B5C92;
        border: #3B5C92;
        transition: .3s;

        &:hover{
            background-color: #f86341;
            border: #f86341;

        }
    }
}



@media (max-width:768px) {

    .title .container .row{
        width: 100%;
        h1{
            line-height: 50px;
        }
    }
    .col-md-4{
        .icon-holder{
         display: none;
        }
    }
}



@media (max-width:426px) {

    .journey{
        padding: 40px 0;
        .container{
            .row{
                h2{
                    text-align: center;
                    padding-right: 0;
                }
                .col-2{
                    margin: auto;
                }

                .col-md-6 ul{
                    padding-right: 2rem;
                    li{
                        h3{
                            font-size: 20px;
                        }
                    }
                }
            }
        }
       
    }

    .col-md-4{
        .icon-holder{
         display: none;
        }
    }
}