

<!-- section become a partner  -->
<section class="partner">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2>{{"partner.section.support_title_prefix"| translate}} <app-partner-reference/></h2>
          <p> {{"partner.section.jobmaster_desc_prefix" | translate}} </p>
          <app-partner-reference/>
            {{"partner.section.jobmaster_desc_suffix" | translate}}

           <a routerLink="/digitalizing-jobmaster"  routerLinkActive="active" class="btn-jet btn col-12 py-2 w-100">
            {{"partner.section.learn_more" | translate}}
          </a>

          </div>

        <div class="col-md-6 right-partner" style=" background-image: url('./public/clients/image8.png');">

        </div>

      </div>

    <div class="row counters mt-5 justify-content-between">

      <div class="col-md-3 px-4">
        <div class="count">150+</div>
        <p class="count-info">{{"partner.section.jet_trusted_title" |translate}} </p>
      </div>

      <div class="col-md-3 px-4">
        <div class="count">45,000</div>
        <p class="count-info">{{"partner.section.jet_positions_title" | translate}} </p>
      </div>

      <div class="col-md-3 px-4">
        <div class="count">5+</div>
        <p class="count-info"> {{"partner.section.jet_countries_title" | translate}} </p>
      </div>

    </div>



    </div>
    </section>
    <!-- end partner section  -->
