

<!-- section become a partner  -->
<section class="partner">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2>{{"UFeed is Supported by the Expertise and Insights of "| translate}}<span>{{"JOBMASTER." | translate}} </span></h2>
          <p> {{"JOBMASTER_desc" | translate}} </p>
    

           <a routerLink="/digitalizing-jobmaster"  routerLinkActive="active" class="btn-jet btn col-12 py-2 w-100">
            {{"Learn more about JOBMASTER" | translate}}
          </a>
    
          </div>
    
        <div class="col-md-6 right-partner" style=" background-image: url('./public/clients/image8.png');">
          
        </div>
      
      </div>
    
    <div class="row counters mt-5 justify-content-between">
    
      <div class="col-md-3 px-4">
        <div class="count">150+</div>
        <p class="count-info">{{"Client Trusted JET Tool" |translate}} </p>
      </div>
    
      <div class="col-md-3 px-4">
        <div class="count">45,000</div>
        <p class="count-info">{{"Positions Evaluated Using JET" | translate}} </p>
      </div>
    
      <div class="col-md-3 px-4">
        <div class="count">5+</div>
        <p class="count-info"> {{"Countries adopting JET" | translate}} </p>
      </div>
    
    </div>
    
    
    
    </div>
    </section>
    <!-- end partner section  -->
    