
<!-- start hero section  -->
<section>
    <div class="video-container">
        <!-- Background video -->
        <video autoplay muted loop id="bg-video">
          <source src="./12.mov" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      
        <!-- Gradient overlay -->
        <div class="video-overlay"></div>
      
        <!-- Content over the video -->
        <div class="content w-75 m-auto">
          <h1>Unlock Your Workforce Potential with <span>Advanced AI Solutions</span></h1>
          <p class="p-5">Enhance your organization with AI technology that improves human capital management. Our tools optimize workforce performance and streamline HR.</p>
          <div class="row">
            <a class="hero-cta book-a-demo" href="#bookNow">Book A Demo</a>
            <a class="hero-cta" href="" routerLink="/contact-us">Contact Us</a>
          </div>   
        </div>
    
    </div>
    </section>
    <!-- end hero section  -->
    