<!-- start hero section  -->
<section>
  <div class="video-container">
    <!-- Background video -->
    <video autoplay muted loop id="bg-video" #bgVideo loading="lazy" preload="auto">
      <source src="public/12.mp4" type="video/mp4">
      {{ "hero.video_not_supported"|translate}}
    </video>

    <!-- Gradient overlay -->
    <div class="video-overlay"></div>

    <!-- Content over the video -->
    <div class="content w-75 m-auto mt-5 px-5">
      <h1>{{"hero.title_prefix"|translate}} <span> {{"hero.title_main"|translate}}</span>
        {{"hero.title_suffix"|translate}}</h1>
      <p class="p-3">{{"hero.description" | translate}}</p>
      <div class="row py-4 buttons">
        <a class="hero-cta book-a-demo" href="#bookNow">{{"hero.cta.book_demo"|translate}}</a>
        <a class="hero-cta" href="" routerLink="/contact-us">{{"hero.cta.contact_us"|translate}}</a>
      </div>
    </div>

  </div>
</section>
<!-- end hero section  -->