<section class="title d-flex ">
    <div class="container">
        <div class="row h-100">
            <h1>
                {{"jetcourse.title" | translate}}
            </h1>
            <h2>{{"jetcourse.get_certified_with" | translate}}<span class="py-2 px-2"><app-partner-reference /> </span></h2>

            <p class="py-4 w-75">
                {{"jetcourse.desc"|translate}}
            </p>

        </div>
    </div>
</section>

<!-- ------------- -->

<section class="banner">
    <div class="container">
        <div class="row">
            <div class="feature-image-holder w-75">
                <img class="img-fluid" src="public/news/image12.png" loading="lazy" alt="">

                <!-- <div class="subscription-button-container">
                    <button class="subscription-btn" (click)="openSubscriptionPopup()">
                        <i class="fas fa-graduation-cap"></i>
                        {{ "Join Course" | translate }}
                    </button>
                </div> -->
            </div>
        </div>
    </div>
</section>
<br>
<br>
<section class="content-course px-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 one">
                <div class="d-flex">
                    <span><img src="public/Star1.png" loading="lazy" alt=""></span>
                    <h3>{{"jetcourse.delivered_by_prefix" | translate}}</h3>
                    <app-partner-reference />
                    <h3>.</h3>
                </div>

                <ul class="py-4">
                    <li>{{"jetcourse.evolving_landscape" | translate}}</li>
                    <li>{{"jetcourse.understanding_job_design" | translate}}</li>
                    <li>{{"jetcourse.ufeed_empowerment" | translate}}</li>
                    <li>{{"jetcourse.tools_and_knowledge" | translate}}</li>
                    <li>{{"jetcourse.introduction_title" | translate}}</li>
                    <li>{{"jetcourse.introduction_desc" | translate}}</li>
                </ul>
            </div>

            <div class="col-md-6 two">
                <div class="d-flex">
                    <span><img src="public/Star1.png" loading="lazy" alt=""></span>
                    <h3> {{"jetcourse.building_capacity_title" | translate}}</h3>
                </div>
                <ul class="py-4">
                    <li>{{"jetcourse.building_capacity_desc" | translate}}</li>
                    <li>{{"jetcourse.insights_title" | translate}}</li>
                    <li>{{"jetcourse.insights_structured" |translate}} </li>
                    <li>{{"jetcourse.internal_capacity" | translate}} </li>
                    <li>{{"jetcourse.teams_equipped" | translate}} </li>
                </ul>
            </div>

            <div class="col-md-6 three">
                <div class="d-flex">
                    <span><img src="public/Star1.png" loading="lazy" alt=""></span>
                    <h3> {{"jetcourse.becoming_certified_title" | translate}}</h3>
                </div>
                <ul class="py-4">
                    <li>{{"jetcourse.becoming_certified_desc" | translate}}</li>
                    <li>{{"jetcourse.unlocking_access" | translate}}</li>
                    <li>{{"jetcourse.participants_equipped" | translate}}</li>
                    <li>{{"jetcourse.designing_structures"| translate}}</li>
                    <li>{{"jetcourse.informed_decisions" | translate}}</li>
                    <li>{{"jetcourse.opens_doors" | translate}}</li>
                </ul>
            </div>

            <div class="col-md-6 four">
                <div class="d-flex">
                    <span><img src="public/Star1.png" loading="lazy" alt=""></span>
                    <h3> {{"jetcourse.access_confidence"|translate}}</h3>
                </div>
                <ul class="py-4">
                    <li>{{"jetcourse.exclusive_access" | translate}}</li>
                    <li>{{"jetcourse.design_with_click" |translate}}</li>
                    <li>{{"jetcourse.intuitive_interface" | translate}}</li>
                    <li>{{"jetcourse.customize_roles" | translate}}
                    </li>
                    <li>{{"jetcourse.approach_with_confidence" | translate}}</li>
                    <li>{{"jetcourse.drive_results" | translate}}</li>
                </ul>
            </div>
        </div>
    </div>
</section>


<!-- ---------------- -->

<section class="form-course py-5">
    <div class="container">

        <div class="row">
            <div class="col-md-6 my-5">
                <h3>{{"jetcourse.interested_in" |translate}}
                    <span>{{"jetcourse.course_q" | translate}} </span><br> 
                    {{"jetcourse.fill_form" | translate}}</h3>
            </div>
            @if( !submitted ){
            <div class="col-md-6 p-4">

                <form action="" method="post" class="px-3" [formGroup]="courseForm"
                    (ngSubmit)="getFormData(courseForm)">

                    <div class="form-group col-12 my-3">
                        <label for="">{{"jetcourse.form.name_label"|translate}}</label>
                        <input placeholder="{{'jetcourse.form.name_label'|translate}}" formControlName="name"
                            [class.is-valid]="courseForm.get('name')?.errors == null && courseForm.get('name')?.touched"
                            class="form-control p-3" id="">
                        <p *ngIf="courseForm.get('name')?.errors != null && courseForm.get('name')?.touched"
                            class="py-2 text-danger">{{"jetcourse.form.name_error"|translate}}</p>
                    </div>


                    <div class="form-group col-12 my-3">
                        <label for="">{{"jetcourse.form.email_label" | translate}}</label>
                        <input placeholder='{{"jetcourse.form.email_placeholder" | translate}}'
                        [class.is-valid]="courseForm.get('email')?.errors==null &&
                 courseForm.get('email')?.touched " formControlName="email" class="form-control p-3" id="">
                        <p *ngIf="courseForm.get('email')?.errors!=null && courseForm.get('email')?.touched "
                            class="py-2 text-danger">{{"jetcourse.form.email_error" | translate}}</p>
                    </div>

                    <div class="form-group col-12 my-3">
                        <label for="">{{"jetcourse.form.contact_number_label"|translate}}</label>
                        <input placeholder='{{"jetcourse.form.contact_number_placeholder"|translate}}' [class.is-valid]="courseForm.get('number')?.errors==null &&
                 courseForm.get('number')?.touched" formControlName="number" class="form-control p-3" id="">

                        <p *ngIf="courseForm.get('number')?.errors!=null &&
                courseForm.get('number')?.touched" class="py-2 text-danger">
                {{"jetcourse.form.contact_number_error" | translate}}</p>
                    </div>

                    <div class="form-group col-12 my-3">
                        <label for="">{{"jetcourse.form.company_name_label" | translate}}</label>
                        <input placeholder='{{"jetcourse.form.company_name_placeholder" | translate}}' formControlName="company_name"
                            [class.is-valid]="courseForm.get('company_name')?.errors == null &&
                courseForm.get('company_name')?.touched" formControlName="company_name" class="form-control p-3" id="">
                        <p *ngIf="courseForm.get('company_name')?.errors!=null && courseForm.get('company_name')?.touched "
                            class="py-2 text-danger">{{"jetcourse.form.company_name_error"|translate}}</p>
                    </div>

                    <div class="form-group col-12 my-3">
                        <label for="">{{"jetcourse.form.title_label" | translate}}</label>
                        <input placeholder='{{"jetcourse.form.title_label" | translate}}' 
                        [class.is-valid]="courseForm.get('title')?.errors==null &&
                 courseForm.get('title')?.touched " formControlName="title" class="form-control p-3" id="">
                        <p *ngIf="courseForm.get('title')?.errors!=null && courseForm.get('title')?.touched "
                            class="py-2 text-danger">{{"jetcourse.form.title_error" | translate}}</p>
                    </div>
                    <button type="submit" [disabled]="disabled" class=" my-3 p-3 btn col-12 btn-success">
                        {{"jetcourse.form.submit" |translate}}</button>

                </form>
            </div>
            } @else {

            <!-- right section -->
            <div class="col-md-8 p-4">
                <app-confirmation-page #confirmationPage id="confirmationSection" />
            </div>
            }
        </div>
    </div>
</section>

<!-- Subscription Popup -->
<app-subscription-popup #subscriptionPopup></app-subscription-popup>