<section class="title d-flex ">
    <div class="container">
        <div class="row h-100">
    <h1>
       Job Certification Course
    </h1>
    <h2>Get Certified With <span class="py-2 px-2">JOBMASTER </span></h2>
    
    <p class="py-4 w-75">
        This Course is Delivered by JOBMASTER.
         In the ever-evolving landscape of HR practices,
         understanding job design and evaluation concepts is paramount
    </p>

    </div>
    </div>
</section>

<!-- ------------- -->

<section class="banner">
<div class="container">
    <div class="row">
        <div class="feature-image-holder w-75">
            <img src="public/news/image12.png" alt="" class="img-fluid">
        </div>
    </div>
</div>
</section>

<!-- ------------- -->

<section class="content-course px-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 one">
                <div class="d-flex">
                    <span><img src="public/Star1.png" alt=""></span>
                    <h3>  This Course is Delivered by JOBMASTER.</h3>
                </div>

                <ul class="py-4">
                        <li>Ever-evolving landscape of HR practices</li>
                        <li>Understanding job design and evaluation concepts is paramount</li>
                        <li>UFeed recognizes the significance of empowering professionals</li>
                        <li>Tools and knowledge needed for organizational management</li>
                        <li>Introduction of the JET Certification program</li>
                        <li>Equip individuals with skills to harness the Job Evaluation Tool (JET) effectively</li>
                </ul>
            </div>

            <div class="col-md-6 two">
                <div class="d-flex">
                    <span><img src="public/Star1.png" alt=""></span>
                    <h3> Building Internal Capacity with JET.</h3>
                </div>
                <ul class="py-4">
                    <li>Deep understanding of principles and methodologies for job design and evaluation</li>
                    <li>JET Certification program provides comprehensive insights into job evaluation concepts    </li>
                    <li>Learning to assess job significance in a structured, objective, and consistent manner   </li>
                    <li>Building internal capacity within organizations  </li>
                    <li>Teams fully equipped to leverage the capabilities of the JET tool  </li>
                </ul>
            </div>

            <div class="col-md-6 three">
                <div class="d-flex">
                    <span><img src="public/Star1.png" alt=""></span>
                    <h3>  Becoming JET Certified.</h3>
                </div>
                <ul class="py-4">
                    <li>Earning JET Certification is not just about acquiring a credential</li>
                    <li>Unlocking access to a powerful platform for designing grading structures</li>
                    <li>Participants equipped with skills and knowledge to navigate the UFeed Platform seamlessly</li>
                    <li>Designing company grading structures</li>
                    <li>Making informed decisions about compensation and organizational design</li>
                    <li>JET Certification opens doors to a world of possibilities</li>
                </ul>
            </div>

            <div class="col-md-6 four">
                <div class="d-flex">
                    <span><img src="public/Star1.png" alt=""></span>
                    <h3> Access Ufeed Platform with Confidence.</h3>
                </div>
                <ul class="py-4">
                    <li>JET Certified professionals have exclusive access to the Ufeed Platform</li>
                    <li>Design company grading structures with the click of a button</li>
                    <li>Intuitive interface and robust features for easy customization</li>
                    <li>Customize grading structures, analyze job roles, and ensure internal equity</li>
                    <li>Approach job design and evaluation with confidence</li>
                    <li>Drive meaningful results with the tools and expertise gained from JET Certification</li>
                </ul>
            </div>
        </div>
    </div>
</section>


<!-- ---------------- -->

<section class="form-course py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 my-5">
                <h3>Interested in our <span>course? </span><br> Fill out the form.</h3>
            </div>
            <div class="col-md-6 p-4">
               
            <form action="" method="post" class="px-3" [formGroup]="courseForm"
            (ngSubmit)="getFormData(courseForm)">
                  
            <div class="form-group col-12 my-3">
                <label for="">Your Name*</label>
                <input placeholder="Your Name"
                formControlName="username" [class.is-valid]="courseForm.get('username')?.errors == null && courseForm.get('username')?.touched"
                 class="form-control p-3" id="">
                 <p *ngIf="courseForm.get('username')?.errors != null && courseForm.get('username')?.touched" 
                class="py-2 text-danger">Please Check Your Name</p>
              </div>

              <div class="form-group col-12 my-3">
                <label for="">Contact Number*</label>
                <input placeholder="Your Number" 
                [class.is-valid]="courseForm.get('contactNumber')?.errors==null &&
                 courseForm.get('contactNumber')?.touched"
                formControlName="contactNumber"
                class="form-control p-3" id="">

                <p *ngIf="courseForm.get('contactNumber')?.errors!=null && 
                courseForm.get('contactNumber')?.touched"
                class="py-2 text-danger">Please Check Your Phone Number</p>
              </div>

              <div class="form-group col-12 my-3">
                <label for="">Email*</label>
                <input placeholder="ex: username@xyz"
                [class.is-valid]="courseForm.get('email')?.errors==null &&
                 courseForm.get('email')?.touched " 
                formControlName="email"
                class="form-control p-3" id="">
                <p *ngIf="courseForm.get('email')?.errors!=null && courseForm.get('email')?.touched " 
                class="py-2 text-danger">Please Check Your Email</p>
              </div>

              <div class="form-group col-12 my-3">
                <label for="">Company Name*</label>
                <input placeholder="Your Company Name"
                formControlName="companyName" [class.is-valid]="courseForm.get('companyName')?.errors == null &&
                courseForm.get('companyName')?.touched"
                formControlName="companyName" 
                class="form-control p-3" id="">
                <p *ngIf="courseForm.get('companyName')?.errors!=null && courseForm.get('companyName')?.touched " 
                class="py-2 text-danger">Please Fill Your Company Name</p>
              </div>

              <button type="submit" [disabled]="courseForm.invalid == true" 
              class=" my-3 p-3 btn col-12 btn-success" >Submit</button>

            </form>
            </div>
        </div>
    </div>
</section>


