.title{
    height: 100vh;
    justify-content: center;
    align-items: center;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(
          to right,
          rgba(248, 99, 65, 0.70), /* Left fill */
          rgba(55, 93, 149, 0.70), /* Middle fill */
          #fff                      /* Right fill */
        );
        opacity: 0.5; /* Overall transparency */
        filter: blur(250px); /* Applies the blur effect */
        z-index: -1; /* Ensures the gradient is behind the content */
      }
    h1{
        color: #2A2B34;
        font-weight: 700;
        font-size: 77px;
    }
    h2{
        font-size: 55px;
        color: #2A2B34;
        font-weight:400 ;
        span{
            color: #fff;
            background-color: #f86341;
        }
    }
}


.feature-image-holder{
    margin: auto;
    height: auto;
    width: 75%;
    height: 600px;
    // background-image: url('/public/news/image 12.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.content-course{
    .container{
        .row{
            div{
                margin: 0;
                padding: 24px;
                h3{
                    font-size: 40px;
                    font-weight: 700;
                    display: inline-block;
                    padding-left: 12px;
                }   
            }
            ul{
                li::marker{
                    color: #375D95; 
                    font-size: 20px;
                }
            }
            .one{
                border-right: 1px solid #C1C1C1; 
                border-bottom: 1px solid #C1C1C1;
            }
            .two{
                border-left: 1px solid #C1C1C1; 
                border-bottom: 1px solid #C1C1C1; 
            }
            .three{
                border-top: 1px solid #C1C1C1;
                border-right: 1px solid #C1C1C1;
            }
            .four{
                border-top: 1px solid #C1C1C1; 
                border-left: 1px solid #C1C1C1;
            }
        }
    }
}

// -------------

.form-course{
    .container{
        .row{
            .col-md-6{
                h3{
                  color: #2A2B34;
                  font-size: 55px;
                  font-weight: 500;
                  span{
                    color: #f86341;
                  }
                }
            }
            
        }
        
    }
}

.btn{
    background-color: #375D95;
    color: #fff;
}


// -------- responsive 

@media (max-width:768px) {
    
    .feature-image-holder{
        height: auto;
    }
   
.content-course{
    .container{
        .row{
            div{
                margin: 0;
                padding: 24px;
                h3{
                    font-size: 24px;
                    
                }   
            }   
        }   
    }   
    }   
                   

}


@media (max-width:426px){
    .content-course{
        padding: 24px!important;
        .container{
            .row{
                div{
                    margin: 0;
                    padding: 24px 0 0px;
                    border: none!important;
                }   
            }   
        }   
        }   





        
.form-course{
    .container{
        .row{
            .col-md-6{
                margin: 0!important;
                h3{
                  font-size: 24px;
                  text-align: center;
                }
            }
            
        }
        
    }
}

p.py-4.w-75{
    width: 100%!important;
}
}