<section class="title d-flex ">
    <div class="container">
        <div class="row h-100">
    <h1>
       Job Certification Course
    </h1>
    <h2>Get Certified With <span class="py-2 px-2">JOBMASTER </span></h2>
    
    <p class="py-4 w-75">
        This Course is Delivered by JOBMASTER.
         In the ever-evolving landscape of HR practices,
         understanding job design and evaluation concepts is paramount
    </p>

    </div>
    </div>
</section>

<!-- ------------- -->

<section class="banner">
<div class="container">
    <div class="row">
        <div class="feature-image-holder w-75">
            <img src="/public/news/image12.png" alt="" class="img-fluid">
        </div>
    </div>
</div>
</section>

<!-- ------------- -->

<section class="content-course px-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 one">
                <div class="d-flex">
                    <span><img src="/public/Star1.png" alt=""></span>
                    <h3>  This Course is Delivered by JOBMASTER.</h3>
                </div>

                <ul class="py-4">
                        <li>Ever-evolving landscape of HR practices</li>
                        <li>Understanding job design and evaluation concepts is paramount</li>
                        <li>UFeed recognizes the significance of empowering professionals</li>
                        <li>Tools and knowledge needed for organizational management</li>
                        <li>Introduction of the JET Certification program</li>
                        <li>Equip individuals with skills to harness the Job Evaluation Tool (JET) effectively</li>
                </ul>
            </div>

            <div class="col-md-6 two">
                <div class="d-flex">
                    <span><img src="/public/Star1.png" alt=""></span>
                    <h3> Building Internal Capacity with JET</h3>
                </div>
                <ul class="py-4">
                    <li>Deep understanding of principles and methodologies for job design and evaluation</li>
                    <li>JET Certification program provides comprehensive insights into job evaluation concepts    </li>
                    <li>Learning to assess job significance in a structured, objective, and consistent manner   </li>
                    <li>Building internal capacity within organizations  </li>
                    <li>Teams fully equipped to leverage the capabilities of the JET tool  </li>
                </ul>
            </div>

            <div class="col-md-6 three">
                <div class="d-flex">
                    <span><img src="/public/Star1.png" alt=""></span>
                    <h3>  Becoming JET Certified</h3>
                </div>
                <ul class="py-4">
                    <li>Earning JET Certification is not just about acquiring a credential</li>
                    <li>Unlocking access to a powerful platform for designing grading structures</li>
                    <li>Participants equipped with skills and knowledge to navigate the UFeed Platform seamlessly</li>
                    <li>Designing company grading structures</li>
                    <li>Making informed decisions about compensation and organizational design</li>
                    <li>JET Certification opens doors to a world of possibilities</li>
                </ul>
            </div>

            <div class="col-md-6 four">
                <div class="d-flex">
                    <span><img src="/public/Star1.png" alt=""></span>
                    <h3> Access Ufeed Platform with Confidence</h3>
                </div>
                <ul class="py-4">
                    <li>JET Certified professionals have exclusive access to the Ufeed Platform</li>
                    <li>Design company grading structures with the click of a button</li>
                    <li>Intuitive interface and robust features for easy customization</li>
                    <li>Customize grading structures, analyze job roles, and ensure internal equity</li>
                    <li>Approach job design and evaluation with confidence</li>
                    <li>Drive meaningful results with the tools and expertise gained from JET Certification</li>
                </ul>
            </div>
        </div>
    </div>
</section>



