<section class="title d-flex ">
    <div class="container">
        <div class="row">
    <h1>
        hc <span>digitized methodologies</span> tools
    </h1>
    
    

    </div>
    </div>
</section>


<section class="content py-5">
    <div class="container">
        <div class="row">
        <div class="col-md-6">
            <p class="py-4">
                Digitalizing and Automating Methodologies involves leveraging technology
                 to streamline and optimize business tasks and process, replacing manual 
                 and time-consuming tasks with automated systems. It also bring increased efficiency,
                  cost savings, improved accuracy, enhanced data analysis, streamlined collaboration,
                   scalability, and an enhanced customer experience. By embracing automation,
                    organizations can optimize their operations, drive innovation, and stay ahead in today’s 
                    technology-driven business landscape.

            </p>
        </div>
        <div class="col-md-6 d-flex justify-content-center align-items-center">
            <img src="public/icon-UFeed.png" alt="" srcset="">
        </div>
    </div>

</div>

<div class="container-fluid bg-dark">
    <div class="container">
    <div class="row py-5 ">
        <div class="col-md-8">
            <h4 class="text-light">Job Evaluation Tool – JET </h4>
            <p class="text-light">JET is an online automated job-grading model that allows evaluators 
                to assess job significance in a structured, objective, and consistent manner,
                 ensuring internal equity.
            </p>
        </div>
        <div class="col-md-4">
            <a href="" class="w-50 p-3" routerLink="/jet">Read More </a>
        </div>
    </div>
</div>
</div>

</section>
