.title {
    color: #2A2B34; /* Optional: Adjust text color for better visibility */
    padding: 20px; /* Optional: Add some padding */
    min-height: 100vh;
    position: relative; /* Ensure proper positioning for ::before */
  
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        to right,
        rgba(248, 99, 65, 0.70), /* Left fill */
        rgba(55, 93, 149, 0.70), /* Middle fill */
        #fff                      /* Right fill */
      );
      opacity: 0.5; /* Overall transparency */
      filter: blur(250px); /* Applies the blur effect */
      z-index: -1; /* Ensures the gradient is behind the content */
    }
  
    .container {
      .row {
        justify-content: center;
        height: 100%;
        justify-content: center;
        align-content: center;
        width: 75%;
        h1 {
          font-size: 77px;
          font-weight: 700;
          line-height: 110px;
          span {
            background-color: #f86341;
            color: #fff;
          }
        }
        p {
          color: #2A2B34;
          font-size: 20px;
        }
      }
    }
  }
    

  .second-content{
    margin-top: 80px;
    padding: 40px 0;
  }
  p{
    color: #474a5a;
    font-size: 20px;
    text-align: left;
}
h4{
    font-weight: 700;
}
   
img{
    animation-name: example;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

.col-md-4{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    a{
        text-decoration: none;
        border: #f86341 solid 2px;
        border-radius: 20px;
        color: #f86341;
        transition: .3s ease-in-out;
        &:hover{
            background-color: #f86341;
            color: #fff;
        }
    }
}

@keyframes example {
    0%   {transform: translateY(0);}
    50% {transform: translateY(-30px);}
    100% {transform: translateY(0px);}
  }

  @media (max-width:768px) {
    .title{
        .container{
            .row{
     
    h1{
        font-size: 40px;
    }           
            }
        }
    }
    .content{
        padding: 24px;
        p{
            font-size: 16px;
        }
    }
  }