<section class="gicg">
    <div class="container">
        <div class="row justify-content-between py-5">
            <a href="https://www.gi-cg.com/" target="_blank" class="col-md-3 logo-holder">
                <img class="img-fluid" loading="lazy" src="public/partners/GICG1.png" alt="" srcset="">
            </a>
            <div class="col-md-8">
                <h3>{{"gicg.title" |translate}}<span> {{"gicg.label" | translate}}.</span> </h3>
                <p>{{"gicg.description" |translate}}</p>
            </div>
        </div>


        <div class="container sec py-5">
            <div class="gallary-holder d-flex row justify-content-between">
                <div class="single-item col-md-1">
                    <a href="https://jobmaster.jobmastergroup.com/" target="_blank">
                        <img class="img-fluid" loading="lazy" src="public/partners/client-logo2.png" alt="">
                    </a>
                </div>
                <div class="single-item col-md-1">
                    <a href="https://www.dalecarnegie.com/en" target="_blank">
                        <img class="img-fluid" loading="lazy" src="public/partners/client-logo5.png" alt="">
                    </a>
                </div>
                <div class="single-item col-md-1">
                    <a href="https://www.riverwaves.co.uk/" target="_blank">
                        <img class="img-fluid" loading="lazy" src="public/partners/client-logo6.png" alt="">
                    </a>
                </div>
                <div class="single-item col-md-1">
                    <a href="https://www.linkedin.com/company/jobmaster-4-startups/" target="_blank">
                        <img class="img-fluid" loading="lazy" src="public/partners/client-logo7.png" alt="">
                    </a>
                </div>
                <div class="single-item col-md-1">
                    <a>
                        <img class="img-fluid" loading="lazy" src="public/partners/client-logo8.png" alt="">
                    </a>
                </div>
                <div class="single-item col-md-1">
                    <a>
                        <img class="img-fluid" loading="lazy" src="public/partners/client5.png" alt="">
                    </a>
                </div>
                <div class="single-item col-md-1">
                    <a href="https://www.signium.com/" target="_blank">
                        <img class="img-fluid" loading="lazy" src="public/partners/client6.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>