.gicg{
    background-color: #E5E9F2;
    .container{
        // border-bottom: 1px solid #B9B9B9;
        padding-bottom: 12px;
        .row{
            align-items: center;
            h3{
                color: #2A2B34;
                font-size: 55px;
                font-weight: 700;
                span{
                    color: #F86341;;
                }
            }
            .single-item.col-md-1 {
                width: 12%!important;
            }
            .single-item img{
             transition: .3s ease-in-out;
            }
            .single-item img:hover{
                transform: scale(.9);
            }
        }
    }
    .sec{
        border-bottom: 0;
        border-top: 1px solid #B9B9B9;
    }
}

@media (max-width:426px) {
    .gicg{
        .container{
            .row{
                .logo-holder{
                    width: 50%;
                    text-align: center;
                    margin: auto;
                }
                h3{
                    font-size: 24px;
                    text-align: center;
                }
                p{
                    text-align: center;
                }
            }

            .single-item{
                width: 50%!important;
                padding: 24px;
            }
        }
    }

    .gicg{
        background-color: #E5E9F2;
        .container{
            .row{
                .single-item.col-md-1 {
                    width: 50%!important;
                }
                .single-item img{
                 transition: .3s ease-in-out;
                }
                .single-item img:hover{
                    transform: scale(.9);
                }
            }
        }
       
    }
}