<section class="gicg py-5">
    <div class="container">
        <div class="row justify-content-between py-5">
            <div class="col-md-3 logo-holder">
                <img class="img-fluid" src="/public/partners/GICG1.png" alt="" srcset="">
            </div>
            <div class="col-md-8">
                <h3>Proud members of<span> GICG.</span> </h3>
                <p>Global Impact Consulting Group is a UK based consulting group that stands for
                 partnership between leading consultancy agencies around the world.</p>
            </div>
        </div>


        <div class="container sec py-5">
                <div class="gallary-holder d-flex row justify-content-between">
                    <div class="single-item col-md-2">
                        <img class="img-fluid" src="/public/partners/client-logo2.png" alt="">
                    </div>
                    <div class="single-item col-md-2">
                        <img class="img-fluid" src="/public/partners/client-logo5.png" alt="">
                    </div>
                    <div class="single-item col-md-2">
                        <img class="img-fluid" src="/public/partners/client-logo6.png" alt="">
                    </div>
                    <div class="single-item col-md-2">
                        <img class="img-fluid" src="/public/partners/client-logo7.png" alt="">
                    </div>
                    <div class="single-item col-md-2">
                        <img class="img-fluid" src="/public/partners/client-logo8.png" alt="">
                    </div>
                </div>
            </div>
        </div>
</section>