<section class="ngo_section ">
<div class="container">
    <div class="row">
        <div class="col-md-8 ">
            <h2>
                {{"Now offering" |translate}} <span>{{"50% OFF" | translate}}</span> {{"for NGOs on our digital HC products!"|translate }}
            </h2>
        
            <p>
            {{"NGOs create life-changing impacts, but who supports them? Human Capital is an asset and the foundation of any successful organization, even nonprofits!" |translate}}
            </p>

            <a href="" class="" routerLink="/ngo">
                {{"Learn More" |translate}}
            </a>
        </div>

        <div class="col-md-4 ufeed-bg" >
            <img class="img-fluid" src="./public/logo-Ufeed-11.png" alt="" srcset="">
        </div>

    </div>
</div>
</section>