.enhance-solution{
  .container{
    .row{
      .col-md-6{
        flex-direction: column;
        justify-content: center;
      }
    }
  }
}

h2{
  color: #2A2B34;
  font-size: 55px;
  font-weight: 700;
  padding-bottom: 40px;
  span{
    color:#F86341
  }
}

.jet_elements{
  div{
    margin: 16px 12px;
    align-items: center;
  }
}

h5{
  font-size: 16px;
  text-align: left;
  padding-left: 8px;
}

.btn-jet{
  text-decoration: none;
  color: #fff;
  background-color: #F86341;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 18px;
  border: solid #F86341 2px;
  transition: .3s ease-in-out;
  &:hover{
    color: #000;
    background-color: #fff;
    border: solid #375d95 2px;
  }
}

.controls{
  justify-content: space-evenly;
  align-items: center;
  .right, .left{
    cursor: pointer;
    width: 25%;
    text-align: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    transition: .2s ease-in-out;
    justify-content: center;
    align-items: center;
    &:hover{
      border: solid 3px #375d95;
    }
    a{
      font-size: 28px;
      color: #375d95;
    }
  }
}

.animated-image {
  transition: opacity 0.4s ease-in-out;
}
// .pr{
//   span{
//      padding-right: 150px;
//   }
// }
.fade-in {
  opacity: 0;
  animation: fadeInAnimation 0.8s ease-in-out forwards;
}

@keyframes fadeInAnimation {
  to {
    opacity: 1;
  }
}
.img-holder {
  position: relative;
}

img {
  transition: opacity 0.5s ease-in-out;  /* Smooth transition for opacity */
  opacity: 1;
}

img.fade-out {
  opacity: 0; /* Make the image fade out */
}

img.fade-in {
  opacity: 1; /* Make the image fade in */
}
