
<section class="enhance-solution pb-5">
  <h2 class="w-75 m-auto text-center ">
    {{"Boost Your Team's"|translate}}<span> {{"Efficiency"|translate}}</span> {{"with UFeed’s"| translate}}<span> {{"products "|translate}}</span>
  </h2>



<div class="container-fluid py-4 position-relative">
  <div class="row">
    <!-- Left Section -->
    <div class="col-7">
      <div class="row py-5 justify-content-between">
        <!-- Title -->
        <div class="col-8">
          
          <h4 class="text-left">
            <div *ngIf="isJet">{{ 'Job Evaluation \nTool - JET' | translate }}</div>
            <div *ngIf="!isJet">{{ 'Employee Engagement \nSurvey - EES' | translate }}</div>
          </h4>          
          
          <p class="text-left">
            <span *ngIf="isJet">{{ 'JET_DESCRIPTION' | translate }}</span>
            <span *ngIf="!isJet">{{ 'EES_DESCRIPTION' | translate }}</span>
          </p>
        </div>
  
        <!-- Controls -->
        <div class="col-2">
          <div class="controls row">
            <div class="left" (click)="toggleContent()">
              <a>
                <i class="fa-solid fa-angle-left"></i>
              </a>
            </div>
            
            <div class="right" (click)="toggleContent()">
              <a>
                <i class="fa-solid fa-angle-right"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
  
      <!-- Content Section -->
      <div class="row jet-elements">
        <div *ngIf="isJet; else eesContentTemplate">
          <!-- JET Content -->
          <div class="col-5 mx-3 my-2 " *ngFor="let item of jetContent">
            <div class="">
              <div class="row ">
                <div class="col-12">
                  <img class="img-fluid" [src]="item.image" alt="">
                </div>
                <div class="col-12 text-left p-2">
                  <h5 class="text-left">{{ item.title | translate }}</h5>
                  <p class="text-left">{{ item.description | translate}}</p>
                </div>
              </div>
            </div>
          </div>
          <a href="" routerLink="/jet" routerLinkActive="active" class="btn-jet py-2 my-3">
            {{"Explore Job Evaluation Tool" |translate}}
          </a>
        </div>
      
        <!-- EES Content Template -->
        <ng-template #eesContentTemplate>
          <div class="col-5 mx-3 my-2" *ngFor="let item of eesContent">
            <div class="">
              <div class="row">
                <div class="col-12">
                  <img class="img-fluid" [src]="item.icon" alt="">
                </div>
                <div class="col-12 text-left p-2">
                  <h5 class="text-left">{{ item.title | translate}}</h5>
                  <p class="text-left">{{ item.description | translate}}</p>
                </div>
              </div>
            </div>
          </div>
          <a href="" routerLink="/ees" routerLinkActive="active" class="btn-jet py-2 my-3">
            {{"Employee Engagement Survey - EES" | translate}}
          </a>
        </ng-template>
      </div>
      
    </div>
  
    <!-- Right Section -->
    <div
      class="col-5 jet-img"
      [ngStyle]="{ 'background-image': 'url(' + (isJet ? jetImage : eesImage) + ')' }">
    </div>
  </div>
 
</div>



</section>
