<section class="enhance-solution pb-5">
  <!-- Title Section with fade-in animation -->
  <h2 class="w-75 m-auto text-center fade-in">
    {{"Boost Your Team's"|translate}}<span> {{"Efficiency"|translate}}</span> {{"with UFeed’s"| translate}}<span></span>
  </h2>

  <div class="container fade-in">
    <div class="row">
      <!-- left -->
      <div class="col-md-6 d-flex fade-in">
        <div class="row">
          <div class="col-10">
            <h3 class="text-left fade-in">
              <div *ngIf="isJet">{{ 'Job Evaluation \nTool - JET' | translate }}</div>
              <div *ngIf="!isJet">{{ 'Employee Engagement \nSurvey - EES' | translate }}</div>
            </h3>
          </div>
          <div class="col-2 d-flex justify-content-between controls">
            <div class="left" (click)="toggleContent()">
              <a>
                <i class="fa-solid fa-angle-left"></i>
              </a>
            </div>

            <div class="right" (click)="toggleContent()">
              <a>
                <i class="fa-solid fa-angle-right"></i>
              </a>
            </div>
          </div>
          <div class="col-12 desc">
            <p class="pr">
              <span *ngIf="isJet">{{ 'JET_DESCRIPTION' | translate }}</span>
              <span *ngIf="!isJet">{{ 'EES_DESCRIPTION' | translate }}</span>
            </p>
          </div>
        </div>

        <!-- JET Content with fade-in animation -->
        <div *ngIf="isJet; else eesContentTemplate" class="row justify-content-between jet_elements fade-in">
          <div class="col-5 d-flex">
            <img src="public/jet/langs.png" alt="" />
            <h5>{{"Bilingual Interface" |translate}}</h5>
          </div>
          <div class="col-5 d-flex">
            <img src="public/jet/stars.png" alt="" />
            <h5>{{"Intelligent Job Evaluation" |translate}}</h5>
          </div>
          <div class="col-5 d-flex">
            <img src="public/jet/part.png" alt="" />
            <h5>{{"Automated JA Data" |translate}}</h5>
          </div>
          <div class="col-5 d-flex">
            <img src="public/jet/globals.png" alt="" />
            <h5>{{"International Grading" |translate}}</h5>
          </div>
          <a href="" routerLink="/jet" routerLinkActive="active" class="btn-jet py-2 my-3 fade-in">
            {{"Explore Job Evaluation Tool" | translate}}
          </a>
        </div>

        <!-- EES Content with fade-in animation -->
        <ng-template #eesContentTemplate>
          <div class="row justify-content-between jet_elements fade-in">
            <div class="col-5 d-flex">
              <img src="public/ees/a.png" alt="" />
              <h5>{{"Bilingual Interface" |translate}}</h5>
            </div>
            <div class="col-5 d-flex">
              <img src="public/ees/b.png" alt="" />
              <h5>{{"Instant Self-Service Access" |translate}}</h5>
            </div>
            <div class="col-5 d-flex">
              <img src="public/ees/c.png" alt="" />
              <h5>{{"Customizable Demographics" |translate}}</h5>
            </div>
            <div class="col-5 d-flex">
              <img src="public/ees/d.png" alt="" />
              <h5>{{"Benchmark Capabilities" |translate}}</h5>
            </div>
            <a href="" routerLink="/ees" routerLinkActive="active" class="btn-jet py-2 my-3 fade-in">
              {{"Employee Engagement Survey - EES" | translate}}
            </a>
          </div>
        </ng-template>
      </div>
      <!-- right (Image Section with fade-in animation) -->
      <div class="col-md-6">
        <div class="img-holder animated-image fade-in">
          <img class="img-fluid fade-in" [src]="isJet ? 'public/Imagejet.png' : 'public/Imageees.png'" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
