<section class="enhance-solution pb-5">
  <!-- Title Section with fade-in animation -->
  <h2 class="w-75 m-auto text-center fade-in">
    {{"enhance.title_prefix"|translate}}<span> {{"enhance.title_suffix"|translate}}</span> {{"enhance.with_ufeeds"| translate}}<span></span>
  </h2>

  <div class="container fade-in">
    <div class="row">
      <!-- left -->
      <div class="col-md-6 d-flex fade-in">
        <div class="row">
          <div class="col-9">
            <h3 class="text-left fade-in">
              <div *ngIf="isJet">{{ 'enhance.jet.title' | translate }}</div>
              <div *ngIf="!isJet">{{ 'enhance.ees.title' | translate }}</div>
            </h3>
          </div>
          <div class="col-3 d-flex justify-content-between controls">
            <div class="left" (click)="toggleContent()">
              <a>
                <i class="fa-solid fa-angle-left"></i>
              </a>
            </div>

            <div class="right" (click)="toggleContent()">
              <a>
                <i class="fa-solid fa-angle-right"></i>
              </a>
            </div>
          </div>
          <div class="col-12 desc">
            <p class="pr">
              <span *ngIf="isJet">{{ 'enhance.jet.description' | translate }}</span>
              <span *ngIf="!isJet">{{ 'enhance.ees.description' | translate }}</span>
            </p>
          </div>
        </div>

        <!-- JET Content with fade-in animation -->
        <div *ngIf="isJet; else eesContentTemplate" class="row justify-content-between jet_elements fade-in">
          <div class="col-5 d-flex">
            <img loading="lazy" src="public/jet/langs.png" alt="" />
            <h5>{{"enhance.features.bilingual_interface" |translate}}</h5>
          </div>
          <div class="col-5 d-flex">
            <img loading="lazy" src="public/jet/stars.png" alt="" />
            <h5>{{"enhance.features.intelligent_job_evaluation" |translate}}</h5>
          </div>
          <div class="col-5 d-flex">
            <img loading="lazy" src="public/jet/part.png" alt="" />
            <h5>{{"enhance.features.automated_ja_data" |translate}}</h5>
          </div>
          <div class="col-5 d-flex">
            <img loading="lazy" src="public/jet/globals.png" alt="" />
            <h5>{{"enhance.features.international_grading" |translate}}</h5>
          </div>
          <a href="" routerLink="/jet" routerLinkActive="active" class="btn-jet py-2 my-3 fade-in">
            {{"enhance.features.explore_jet" | translate}}
          </a>
        </div>

        <!-- EES Content with fade-in animation -->
        <ng-template #eesContentTemplate>
          <div class="row justify-content-between jet_elements fade-in">
            <div class="col-5 d-flex">
              <img loading="lazy" src="public/ees/a.png" alt="" />
              <h5>{{"enhance.features.bilingual_interface" |translate}}</h5>
            </div>
            <div class="col-5 d-flex">
              <img loading="lazy" src="public/ees/b.png" alt="" />
              <h5>{{"enhance.features.instant_self_service" |translate}}</h5>
            </div>
            <div class="col-5 d-flex">
              <img loading="lazy" src="public/ees/c.png" alt="" />
              <h5>{{"enhance.features.customizable_demographics" |translate}}</h5>
            </div>
            <div class="col-5 d-flex">
              <img loading="lazy" src="public/ees/d.png" alt="" />
              <h5>{{"enhance.features.benchmark_capabilities" |translate}}</h5>
            </div>
            <a href="" routerLink="/ees" routerLinkActive="active" class="btn-jet py-2 my-3 fade-in">
              {{"enhance.ees.full_title" | translate}}
            </a>
          </div>
        </ng-template>
      </div>
      <!-- right (Image Section with fade-in animation) -->
      <div class="col-md-6">
        <div class="img-holder animated-image fade-in">
          <img class="shadow rounded img-fluid fade-in" [src]="imageSrc" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
