<section class="course-jet py-5">
<div class="container">
    <div class="row">

        <div class="col-md-6">
            <img class="img-fluid" src="/public/news/image12.png" alt="">
        </div>
        <!-- ------- -->
        <div class="col-md-6 py-2">
            <h3>Job Certification Course</h3>
            <h5>Get Certified With JOBMASTER</h5>
            <p class="py-2">This Course is Delivered by JOBMASTER.
            In the ever-evolving landscape of HR practices,
            understanding job design and evaluation concepts is paramount
        </p>

        <div class="row">
            <div class="col-md-6">
               <p> <span> <img src="/public/ic1.png" alt="" srcset=""> </span> Delivered by JOBMASTER.</p>
            </div>

            <div class="col-md-6">
                <p> <span> <img src="/public/ic2.png" alt="" srcset=""> </span> Become JET Certified.</p>
             </div>

             <div class="col-md-6">
                <p> <span><img src="/public/ic3.png" alt="" srcset=""></span> Access UFeed Platform with Confidence</p>
             </div>

             <div class="col-md-6">
                <p> <span><img src="/public/ic4.png" alt="" srcset=""></span> Next round starts on Jan 20th</p>
             </div>

             <button routerLink="/app-jet-course" class="btn my-2 col-md-12">Join Course</button>
        </div>
    </div>
    <!-- ---------- -->
    </div>
</div>

</section>