<!-- start contact form  -->

<section class="contact-form" id="bookNow" style=" background-image: url('./public/bg-contact.png');">
  <div class="container">
    @if ( !submitted ){
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-holder p-5">
          <h2 class="pb-5">{{"Begin Your Human Capital Organizational Journey with Us !" | translate}}</h2>


          <form action="" method="post" [formGroup]="contactForm" (ngSubmit)="getFormData(contactForm)">

            <div class="form-group col-12 my-3">
              <label for="">{{ "YOUR_NAME" | translate }}</label>
              <input [class.is-valid]="isInputValid('name')" class="form-control p-3" formControlName="name" type="text"
                placeholder="{{ 'YOUR_NAME' | translate }}" id="">

              <p *ngIf="isValidInput('name')" class="py-2 text-danger">
                {{ "CHECK_YOUR_NAME" | translate }}
              </p>
            </div>

            <div class="row py-0 my-3 group">

              <div class="form-group col-lg-6 col-md-6 col-sm-12">
                <label for="">{{"Contact Number*"|translate}}</label>
                <input [class.is-valid]="isInputValid('phone_number') " class="form-control p-3" type="text"
                  formControlName="phone_number" name="" placeholder="{{'Your Phone Number'|translate}}" id="">
                <p *ngIf="isValidInput('phone_number')" class="py-2 text-danger">{{"Please Check Your
                  Phone Number"|translate}}</p>
              </div>

              <div class="form-group col-lg-6 col-md-6 col-sm-12">
                <label for="">{{"Email*" | translate}}</label>
                <input [class.is-valid]="isInputValid('email') " class="form-control p-3" type="email" name=""
                  formControlName="email" placeholder='{{"Email_placeholder" | translate}}' id="">
                <p *ngIf="isValidInput('email')" class="py-2 text-danger">{{"Please Check Your Email"
                  | translate}}</p>
              </div>

            </div>

            <div class="form-group col-12 my-3">
              <label for="">{{"Title"|translate}}</label>
              <input [class.is-valid]="isInputValid('title')" class="form-control p-3" type="text"
                formControlName="title" name="" placeholder="{{'Title'|translate}}" id="">
              <p *ngIf="isValidInput('title')" class="py-2 text-danger">
                {{ "Please make sure of title" | translate }}
              </p>
            </div>

            <div class="form-group col-12 my-3">
              <label for="">{{"Company Name"|translate}}</label>
              <input class="form-control p-3" [class.is-valid]="isInputValid('email')" type="email" name=""
                formControlName="company_name" placeholder="{{'Your Company'| translate}}" id="">
              <p *ngIf="isValidInput('company_name')" class="py-2 text-danger">
                {{ "Please make sure of company name" | translate }}
              </p>
            </div>

            <div class="form-group col-12 my-3">
              <label for="inputState">{{ "Select Your Inquiry*" | translate }}</label>

              <div class="custom-checkbox-wrapper">
                <div *ngFor="let inquiry of inquiries">
                  <input type="checkbox" [class.is-valid]="isInputValid('inquiry_type')" [id]="inquiry.value"
                    [value]="inquiry.value" (change)="onInquirySelectionChange($event, inquiry.value)"
                    [checked]="isInquirySelected(inquiry.value)">
                  <label class="check-lable" [for]="inquiry.value">{{ inquiry.label | translate }}</label>
                </div>
              </div>

              <p *ngIf="isValidInput('inquiry_type') " class="py-2 text-danger">
                {{ "Please Choose Your Inquiry" | translate }}
              </p>
            </div>


            <div class="form-group col-12 my-3">
              <label for="inputProduct">{{ "Select Product*" | translate }}</label>

              <div class="custom-checkbox-wrapper">
                <div *ngFor="let product of products">
                  <input type="checkbox" [class.is-valid]="isInputValid('product')" [id]="product.value"
                    [value]="product.value" (change)="onProductSelectionChange($event, product.value)"
                    [checked]="isProductSelected(product.value)">
                  <label class="check-lable" [for]="product.value">{{ product.label | translate }}</label>
                </div>
              </div>

              <p *ngIf="isValidInput('product') " class="py-2 text-danger">
                {{ "Please Choose Your Product" | translate }}
              </p>
            </div>


            <div class="form-group col-12 my-3">
              <label for="">{{"Message"|translate}}</label>
              <textarea name="" [class.is-valid]="isInputValid('message')" class="form-control p-3"
                placeholder="{{'Your Message'|translate}}" formControlName="message" id=""></textarea>
              <p *ngIf="isValidInput('message')" class="py-2 text-danger">
                {{ "Please make sure of message" | translate }}
              </p>
            </div>

            <button type="submit" [disabled]="contactForm.invalid == true || disabled"
              class=" my-3 p-3 btn col-12 ">{{"Submit"|translate}}</button>
          </form>

        </div>
      </div>
    </div>
    }@else {
    <app-confirmation-page #confirmationPage id="confirmationSection" />
    }
  </div>
</section>