<div class="ngo-banner">
</div>

<!-- ---------------- -->

<div class="ngo-content my-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3>As You Give,<span> You<br> Deserve a Return!</span>
                </h3>
                <p>NGOs create life-changing impacts, but who supports them?<br>
                    Human Capital is an asset and the foundation 
                    of any successful organization, even nonprofits!
                </p>
                <p>That’s why UFeed was founded with a mission to create a positive impact—and this is just the beginning. “It’s time to give back to those who give!”
                </p>
                <p>Now offering 50% OFF for NGOs on our digital HC products! ✅ JET – Job Evaluation Tool 📊 ✅ EES – Employee Engagement Survey 🔍
                </p>

                <a href="https://application.ufeed-ai.com/login" target="_blank" class="btn col-md-12 bg-main">Register now & claim your 50% discount</a>
            </div>

            <div class="col-md-5 d-flex ">
                <img class="img-fluid imger-style" src="/public/50.png" alt="" srcset="">
            </div>

    </div>
</div>

<!-- ------------------- -->


<div class="ngo-form py-5 my-5">

    <div class="container">
        <div class="row">
           
            <div class="col-md-6 title">
               <h3 class="text-light text-center"> UFeed <span>Supports</span> NGO </h3>
            </div>
           
            <div class="col-md-6 form">
                <form action="">
                    <div class="row p-0">

                        <div class="form-group col-md-6 my-2">
                            <label for="" class="text-light py-2">Full Name</label>
                            <input type="text" class="form-control">
                        </div>

                        <div class="form-group col-md-6 my-2">
                            <label for="" class="text-light py-2">NGO Name</label>
                            <input type="text" class="form-control">
                        </div>


                        <div class="form-group col-md-6 my-2">
                            <label for="" class="text-light py-2">NGO Website </label>
                            <input type="url" class="form-control">
                        </div>

                        <div class="form-group col-md-6 my-2">
                            <label for="" class="text-light py-2">Your Title </label>
                            <input type="text" class="form-control">
                        </div>

                        <div class="form-group col-md-6 my-2">
                            <label for="" class="text-light py-2">Your Email                            </label>
                            <input type="email" class="form-control">
                        </div>

                        <div class="form-group col-md-6 my-2">
                            <label for="" class="text-light py-2">Mobile Number</label>
                            <input type="tel" class="form-control">
                        </div>


                        <div class="form-group col-md-6 my-2">
                            <label for="" class="text-light py-2">NGO headcount                           </label>
                            <input type="number" class="form-control">
                        </div>

                        <div class="form-group col-md-6 my-2">
                            <label for="" class="text-light py-2">Total Number of Positions</label>
                            <input type="number" class="form-control">
                        </div>
                        <div class="form-group col-md-12 my-2">
                        <button class="btn my-4 p-2 form-btn">Send</button>
                    </div>

                    </div>
                </form>
            </div>


        </div>
    </div>

</div>





