.innovative-solutions{
  position: relative;
  padding: 80px;
h2{
  padding-bottom: 0;
  font-size: 55px;
  font-weight: 700;
  span{
    color: #f86341;
  }
}
.img-holder {
  width: 100px;
  height: 100px;
}
  .left-bg-fill{
    
      width: 557px;
      height: 571px;
      flex-shrink: 0;
      background-color: rgba(248, 99, 65, 0.30);
      opacity: 0.5;
      filter: blur(250px);
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
    
  }

  .right-bg-fill{
    background-color: rgba(55, 93, 149, 0.30);
      opacity: 0.7;
      filter: blur(250px);
      width: 607px;
  height: 578px;
    flex-shrink: 0;
    position: absolute;
      top: 0;
      right: 0;
      z-index: 2000;
  }

}
.solution-desc{
  p{
    color: #43424C;
  }
}

.arow-down{
    width: 100px;
    height: 100px;
   
  }
  
  .solution-title h3{
  font-size: 40px;
  white-space: pre-wrap; /* Interprets \n as a line break */

  }
  .icon-holder{
    width: 80px;
    margin: auto;
  }
  .single-solution {
    transition: opacity 0.5s ease-in-out; // Smooth transition for opacity
    opacity: 1; // Default opacity
  
    &:hover {
      opacity: 1; // Keep the hovered item at full opacity
      border-left: #f86341 solid 4px;
      // Reduce the opacity of all siblings
      ~ .single-solution {
        opacity: 0.3; // Dim other elements
      }
    }
  
    // Add styles for active state (when a solution is clicked/selected)
    &.active {
      opacity: 1; // Ensure the active item remains fully visible
      border-left: 4px solid #f86341; // Optional: Highlight the active solution
   
    }
  
    &.dimmed {
      opacity: 0.3; // Apply dimmed effect to non-active items
    }
  
    .solution-title h3 {
      transition: 0.3s ease-in-out;
    }
  
    &:hover .solution-title h3 {
      font-size: 44px;
      margin-top: 8px;
    }
  }

  
.solution-title h3:nth-of-type(5) {
  width: 40%!important;  /* Set the desired width */
  padding-left:40px ;
  padding-right:40px ;
}


@media(max-width:768px) {
  h2{
    font-size: 34px;
  }
  
  .innovative-solutions{

    .container{
      .row{
        div{
          width: 100%;
          opacity: 1;
        }
      }
    }
  }
.arow-down{
  display: flex;
  justify-content: center;
}

.single-solution{
  .solution-title h3{
    font-size: 30px;
  }
}

.icon-holder{
  max-width: 18%;
}
}


  
@media (max-width:426px) {
  .innovative-solutions{

    h2{
      font-size: 20px;
    }
  }
  .container{
    .row{
      .single-solution{
        .icon-holder{
         
            width: 25%!important;
         
        }
      }
    }
  }

  .single-solution{
    .solution-title h3{
      font-size: 24px;
    }
  }

  .single-solution:hover .solution-title h3{
    font-size: 28px;
    margin-top: 8px;
  }
}
