<section class="innovative-solutions">
  <h2 class="w-75 m-auto text-center mb-5">
   <span>{{"Revolutionize"|translate}}</span> {{"Your Team with UFeed's Cutting-Edge Solutions" | translate}} <span>{{"Solutions"|translate}} </span>
  </h2>
  <div class="container">
    <div class="row justify-content-center">
      <div class="img-holder text-center">
        <img class="img-fluid m-auto" src="./public/icons/ph_arrow-up-thin.png" alt="" srcset="">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-around py-4 mt-4">
      <div
        class="single-solution col-lg-6 col-md-6 col-sm-12 p-5 text-center"
        *ngFor="let solution of solutions; let i = index"
        [class.active]="activeIndex === i"
        [class.dimmed]="isDimmed(i)"
        (mouseover)="onMouseOver(i)"
        (mouseout)="onMouseOut()"
        (click)="onSelect(i)"
      >
        <div class="icon-holder mb-3">
          <img class="img-fluid" [src]="solution.icon" alt="" />
        </div>
        <div class="solution-title w-75 m-auto">
          <h3 class="">{{ solution.title | translate}}</h3>
        </div>
        <div class="solution-desc">
          <p>{{ solution.description |translate}}</p>
        </div>
      </div>
    </div>
  </div>
</section>
