// SCSS mixin for RTL styles



@import url(https://db.onlinewebfonts.com/c/125063e353c1f65c55ba1e3811969217?family=GE+SS+Two+Medium);

  // mainFont 
  @font-face {
    font-family: "Creato Display";
    src: url('../public/fonts/Creato\ Display/Creato Display Regular.woff') format('woff'),
          ('../public/fonts/Creato\ Display/Creato Display Regular.woff2') format('woff2'),
          ('../public/fonts/Creato\ Display/Creato Display.woff2') format('woff2'),
            ('../public/fonts/Creato\ Display/Creato Display.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  // secondary font 
  @font-face {
    font-family: 'Lora';
    src: url('../public/fonts/Lora/Lora-Medium.woff2') format('woff2'),
        url('../public/fonts/Lora/Lora-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
  


  // -----------------------------


  $mainFont:'Creato Display';
  $secondaryFont:'Lora';
  $fontSizeLinks:16px;
  $fontWeightLinks:600;
  $mainColor:#f86645;
  $secondaryColor:#375D95;
  
  h1, h2, h3,h4,h5,h6,form label{
    font-family: 'Creato Display', sans-serif;                                         
  }
  p{
    font-family: 'Lora';
    color: #625e5e;
  }
  
  @media (max-width:1024px) {
    .header-cta{
      padding: 12px 16px!important;
      font-size: 12px!important;
    }
    .navbar-expand-lg .navbar-nav .nav-item a{
      font-size: 12px!important;
    }
    .title{
      h1{
        font-size: 40px!important;
      }
      .single-advantage p{
        font-size: 12px;
      }
      .advantages{
        .container{
          .row{
            .row{
              .col-md-4{
                width: 50%!important;
              }
            }
          }
        }
      }
    }
   .contact-links{
    width: 100%!important;
    .list-footer {
      ul{
        display: flex;
        justify-content: space-between;
      }
      .social-icons{
        justify-content: center!important;
        margin: auto!important;
      }
    }
   }
  }
  @media (max-width:768px) {
    h2{
      font-size: 40px!important;
    }
    .contact-links{
      width: 50%!important;
    }
    .contact-links{

      .list-footer {
        ul{
          display: block!important;
        }
        .social-icons{
          justify-content: flex-start!important;
        }
      }
    }
  }


  

  // animation 
// Define the animation for sliding and fading in
@keyframes slideFadeUp {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(30px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

// Title animation (fade in and move up)
.title h1 {
  animation: slideFadeUp 1s ease-out forwards;
  opacity: 0;
  transform: translateY(30px);
  text-transform: capitalize;
}

// Span animation (slide in from right with background color)
.title .px-3 {
  background-color: #3498db; // Your desired color
  color: white;
  display: inline-block;
  animation: slideInFromRight 1s ease-out forwards;
  opacity: 0;
  transform: translateX(30px);
  animation-delay: 0.5s; // Delay the span to show after the title
}

// Paragraph animation (fade in and move up)
.title p {
  animation: slideFadeUp 1s ease-out forwards;
  opacity: 0;
  transform: translateY(30px);
  animation-delay: 1.2s; // Delay the paragraph to show after the span
}
// ------------
// forms 
input{
  border-radius: 16px;
}
form button{
  border-radius: 16px!important;
}

.rtl{
  font-family: "GE SS Two Medium"!important;
}
// Optional: Add delay between each element for a staggered effect


@media (max-width:426px) {
h2{
  font-size: 24px!important;
}
h4{
  font-size: 20px!important;
}
h1{
  padding-top: 100px;
  font-size: 24px!important;
}
p{
  font-size: 16px!important;
}
.title .container .row{
  width: 100%!important;
}
}

// ---------------------
body.rtl{
  font-family: "GE SS Two Medium"!important;
  a.header-cta.free-trial {
    direction: ltr;
  }
  a.nav-link,a.header-cta,h1,h2,h3,h4,h5,h6,.list-footer ul li a,label,.counters p,.left-footer p,.btn-jet,.hero-cta,.clients-section .container .row p{
  font-family: "GE SS Two Medium"!important;
  }
  li.d-flex.justify-content-between.align-items-center{
    flex-direction: row-reverse;
  }
  ul.dropdown-menu.px-4{
    left: 0;
  }
  .before.col-3{
    background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 49.75%, #F86341 100%)!important;
  }
  .after{
    background: linear-gradient(270deg, #F86341 0%, rgba(255, 255, 255, 0) 49.75%, rgba(255, 255, 255, 0) 100%)!important;
  }
  .slider-container{
    direction: ltr!important;
  }
  .enhance-solution{
    .controls{
      direction: ltr;
    }
    .controls .left a,.controls .right a {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .container-fluid.py-4.position-relative{
      padding-left: 0px;
      padding-right: 100px;
      overflow-x: hidden;
    }
    .jet-img{
      background-position: left;
    }
    .jet-elements{
      padding-left: 40px;
      padding-right: 0px;
      justify-content: space-evenly;
    }
    .col-6{
      .row{
        .col-4{
          padding-right: 0!important;
        }
      }
    }
  }
  .counters{
    .col-md-3.px-4{
      border-left: 0;
      border-right: 4px solid #375d95;
    }
  }

  i.fa-solid.fa-arrow-right-long{
    transform: rotate(180deg);
    margin-right:10px !important;
    margin-left:0px !important;
    padding-top: 0 !important;
  }
  .single-post{
    .news-desc h4 {
      transition: padding 0.3s, border 0.3s;
      border-right: 4px solid #fff;
      padding-right: 8px;
    }
    &:hover {
     
      .news-desc h4 {
        border-left: 0px!important;
        border-right: 4px solid #F86341;
        padding-left: 0px!important;
        // padding-right: 8px;
      }
    }
  }
  .col-md-6.one,.col-md-6.three{
    border-right: 0px solid #C1C1C1 !important;
    border-left: 1px solid #C1C1C1 !important;
  }
  .col-md-6.two,.col-md-6.four{
    border-left: 0px solid #C1C1C1 !important;
    border-right: 1px solid #C1C1C1 !important;
  }

.journey{
  .container{
    .row{
      .col-md-6{
        div{
          transform: rotate(180deg);
        }
      }
    }
  }
}
}


