/* You can add global styles to this file, and also import other style files */
// @import url('https://fonts.cdnfonts.com/css/century-gothic-paneuropean');
  
//   body {
//     font-family: 'Century Gothic Paneuropean', sans-serif;                                             
//   }
  

  // mainFont 
  @font-face {
    font-family: "Creato Display";
    src: url('../public/fonts/Creato\ Display/Creato Display Regular.woff') format('woff'),
          ('../public/fonts/Creato\ Display/Creato Display Regular.woff2') format('woff2'),
          ('../public/fonts/Creato\ Display/Creato Display.woff2') format('woff2'),
            ('../public/fonts/Creato\ Display/Creato Display.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  // secondary font 
  @font-face {
    font-family: 'Lora';
    src: url('../public/fonts/Lora/Lora-Medium.woff2') format('woff2'),
        url('../public/fonts/Lora/Lora-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
  

  // -----------------------------


  $mainFont:'Creato Display';
  $secondaryFont:'Lora';
  $fontSizeLinks:16px;
  $fontWeightLinks:600;
  $mainColor:#f86645;
  $secondaryColor:#375D95;
  
  h1, h2, h3,h4,h5,h6,form label{
    font-family: 'Creato Display', sans-serif;                                         
  }
  p{
    font-family: 'Lora';
    color: #625e5e;
  }
  
  @media (max-width:768px) {
    h2{
      font-size: 40px!important;
    }
  }


  // animation 
// Define the animation for sliding and fading in
@keyframes slideFadeUp {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(30px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

// Title animation (fade in and move up)
.title h1 {
  animation: slideFadeUp 1s ease-out forwards;
  opacity: 0;
  transform: translateY(30px);
}

// Span animation (slide in from right with background color)
.title .px-3 {
  background-color: #3498db; // Your desired color
  color: white;
  display: inline-block;
  animation: slideInFromRight 1s ease-out forwards;
  opacity: 0;
  transform: translateX(30px);
  animation-delay: 0.5s; // Delay the span to show after the title
}

// Paragraph animation (fade in and move up)
.title p {
  animation: slideFadeUp 1s ease-out forwards;
  opacity: 0;
  transform: translateY(30px);
  animation-delay: 1.2s; // Delay the paragraph to show after the span
}

// Optional: Add delay between each element for a staggered effect
