
<app-hero-section></app-hero-section>
<!-- ---------------------------------------------------------------------- -->
<app-clients></app-clients>
<!-- workflow performance section -->
<app-work-performance></app-work-performance>
<app-innovative-solutions></app-innovative-solutions>
<app-enhance-solution></app-enhance-solution>
<app-become-partner></app-become-partner>
<app-course-section></app-course-section>
<app-gicg></app-gicg>
<app-contact-section></app-contact-section>
<h2>{{"news and" | translate}} <span>{{"annoucments" | translate}}</span></h2>
<app-news-section></app-news-section>
<app-ngo-section></app-ngo-section>