<section class="title d-flex ">
    <div class="container">
        <div class="row h-100">
            <h2>
                {{"digitalizing.title_prefix" | translate}} <span class="px-2 "> <app-partner-reference /> </span> {{"digitalizing.title_suffix"
                |translate}}
                <br> {{"digitalizing.subtitle" |translate}} <span class="px-2 ">{{"UFeed" |translate}}</span>
            </h2>

            <p class="py-4 w-75">
                {{"digitalizing.ufeed_arm_prefix" |translate}}
                <app-partner-reference />
                {{"digitalizing.ufeed_arm_suffix" |translate}}
            </p>

        </div>
    </div>
</section>

<!-- ------------- -->

<section class="banner">
    <div class="container">
        <div class="row">
            <div class="feature-image-holder w-75">
                <img src="public/news/image111.png" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</section>

<!-- ------------- -->

<section class="content-course px-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <p>
                    {{"digitalizing.intro_prefix"|translate}}
                    <app-partner-reference text="JOBMASTER" />
                    {{"digitalizing.intro_suffix"|translate}}
                    <app-partner-reference text="JOBMASTER." />
                    {{"digitalizing.body"|translate}}
                </p>
                <p>
                    {{"digitalizing.foundation_prefix"|translate}}
                    <app-partner-reference text="JOBMASTER’s" />
                    {{"digitalizing.foundation_suffix"|translate}}
                    <app-partner-reference text="JOBMASTER’s" />
                    {{"digitalizing.conclusion"|translate}}
                </p>
            </div>
        </div>
    </div>
</section>


<!--
    
    "DIGITALIZING_JOBMASTER": {
        "Digitalizing":"Digitalizing",
        "know-how into":"know how into",
        "Cutting-Edge Technology by":"cutting edge technology by",
        "UFeed the digital Arm of ":"UFeed the digital arm of ",
        " launched the transformation of Consulting business for a new ERA of possibilities",:" launched the transformation of Consulting business for a new ERA of possibilities",
        "UFeed, a corporate startup, has emerged as the digital arm of ":"UFeed, a corporate startup, has emerged as the digital arm of ",
        "with a mission to transform their extensive know how into cutting edge technology. With a clear objective to digitalize and automate methodologies for the future, UFeed is leveraging years of expertise, extensive data, and deep knowledge accumulated by ":"with a mission to transform their extensive know how into cutting edge technology. With a clear objective to digitalize and automate methodologies for the future, UFeed is leveraging years of expertise, extensive data, and deep knowledge accumulated by ",
        " By harnessing this wealth of information, UFeed aims to revolutionize the industry by creating innovative solutions that streamline processes and enhance efficiency.":" By harnessing this wealth of information, UFeed aims to revolutionize the industry by creating innovative solutions that streamline processes and enhance efficiency.",
        "Building on the solid foundation of ":"Building on the solid foundation of ",
        " experience, UFeed is at the forefront of the digital transformation wave. The company recognizes the immense potential in utilizing advanced technologies to drive organizational growth and elevate industry standards. By combining the power of automation with the wealth of knowledge accumulated over the years our mission is to empower businesses to make data driven decisions. With a strong commitment to innovation and a deep understanding of the industry, UFeed will be transforming": " experience, UFeed is at the forefront of the digital transformation wave. The company recognizes the immense potential in utilizing advanced technologies to drive organizational growth and elevate industry standards. By combining the power of automation with the wealth of knowledge accumulated over the years our mission is to empower businesses to make data driven decisions. With a strong commitment to innovation and a deep understanding of the industry, UFeed will be transforming",
        " know how into cutting edge technology that will shape the future of the digital consulting.": " know how into cutting edge technology that will shape the future of the digital consulting."
    }
-->