<section class="title d-flex ">
    <div class="container">
        <div class="row h-100">
            <h2>
                {{"Digitalizing" | translate}} <span class="px-2 "> <app-partner-reference /> </span> {{"know-how into"
                |translate}}
                <br> {{"Cutting-Edge Technology by" |translate}} <span class="px-2 ">UFeed</span>
            </h2>

            <p class="py-4 w-75">
                {{"UFeed the digital Arm of " |translate}}
                <app-partner-reference />
                {{" launched the transformation of Consulting business for a new ERA of possibilities" |translate}}
            </p>

        </div>
    </div>
</section>

<!-- ------------- -->

<section class="banner">
    <div class="container">
        <div class="row">
            <div class="feature-image-holder w-75">
                <img src="public/news/image111.png" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</section>

<!-- ------------- -->

<section class="content-course px-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <p>
                    {{"UFeed, a corporate startup, has emerged as the digital arm of "|translate}}
                    <app-partner-reference text="JOBMASTER" />
                    {{"with a mission to transform their extensive know how into cutting edge technology. With a clear objective to digitalize and automate methodologies for the future, UFeed is leveraging years of expertise, extensive data, and deep knowledge accumulated by "|translate}}
                    <app-partner-reference text="JOBMASTER." />
                    {{" By harnessing this wealth of information, UFeed aims to revolutionize the industry by creating innovative solutions that streamline processes and enhance efficiency."|translate}}
                </p>
                <p>
                    {{"Building on the solid foundation of "|translate}}
                    <app-partner-reference text="JOBMASTER’s" />
                    {{" experience, UFeed is at the forefront of the digital transformation wave. The company recognizes
                    the immense potential in utilizing advanced technologies to drive organizational growth and elevate
                    industry standards. By combining the power of automation with the wealth of knowledge accumulated
                    over the years our mission is to empower businesses to make data driven decisions. With a strong
                    commitment to innovation and a deep understanding of the industry, UFeed will be transforming
                    "|translate}}
                    <app-partner-reference text="JOBMASTER’s" />
                    {{" know how into cutting edge technology that will shape the future of the digital
                    consulting."|translate}}
                </p>
            </div>
        </div>
    </div>
</section>